<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <title>{{title}}</title>
</head>
<body>
	<h1>Extraordinary error</h1>
	{{error}}
	Please try again or contact with our administrator:<br><br>
	{% for e in emails %}
		<a href="mailto: {{e}}">{{e}}</a><br>
	{% endfor %}
</body>
</html>
