{% extends 'amyload/userData.html' %}
{% block aboutyou %}
<form id="user_data" name="user_data" method="post" action="/amyload/aboutYou/">
{% csrf_token %}
<fieldset id="user_fieldset">
	{% if emailForm.newEmail.errors %}<p style="text-align:left;color:red">{{emailForm.newEmail.errors|striptags}}</p>{% endif %}
	{% if passForm.newPass2.errors %}<p style="text-align:left;color:red">{{passForm.newPass2.errors|striptags}}</p>{% endif %}
	{% if info %}<p style="text-align:left;color:blue">{{info}}</p>{% endif %}
	<table style="float: left;">
		<tr>
			<td>
				<b>Username:&nbsp;&nbsp;&nbsp;</b>
			</td>
			<td>
				{{name}}
			</td>
		</tr>
		<tr>
			<td>
				<b>E-mail:&nbsp;&nbsp;&nbsp;</b>
			</td>
			<td>
				{{email}}
			</td>
		</tr>
		<tr>
			<td>
				<b>Account created on:&nbsp;&nbsp;&nbsp;</b>
			</td>
			<td>
				{{date}}
			</td>
		</tr>
	</table>
	<table style="float: right;">
		<tr>
			<td>
				{% comment %}{{emailForm.newEmail}}{% endcomment %}
			</td>
			<td>
				{% comment %}<input type="submit" id="change_email" name="change_email" value="Change e-mail" style="float: left;" onclick="SetURL('user_data', '/amyload/changeEmail/');"/>{% endcomment %}
			</td>
		</tr>
		<tr>
			<td>
				{{passForm.newPass1}}
			</td>
			<td>
				<input type="submit" id="change_pass" name="change_pass" value="Change password" style="float: left;" onclick="SetURL('user_data', '/amyload/changePassword/');"/>
			</td>
		</tr>
		<tr>
			<td>
				{{passForm.newPass2}}
			</td>
			<td>
			</td>
		</tr>
	</table>
	<br>
</fieldset>
</form>
{% endblock %}
