{% extends 'amyload/userData.html' %}
{% block addedfrags %}
<fieldset id="added_fieldset">
<form id="sorting_form" name="sorting_form" method="post" action="/amyload/addedFrags/">
	{% csrf_token %}
	<span data-tip="Protein Name">
	{{form.proteins}}
	</span>
	<span data-tip="Reviewed?">
	{{form.reviewed}}
	</span>
	<span data-tip="Amyloidogenic?">
	{{form.ifaggregate}}
	</span>
	<span data-tip="Min Length">
	{{form.minlength}}
	</span>
	<span data-tip="Max Length">
	{{form.maxlength}}
	</span>
	<span data-tip="Sort by">
	{{form.bywhatsort}}
	</span>
	<span data-tip="Sorting order">
	{{form.ascordesc}}
	</span>
	<div data-tip="Input word and search for protein names which contain it. Browser is case-insensitive.">
	{{form.ifcontainProt}}
	</div>
	<div data-tip="Input amino acid sequence and search for protein sequences which contain it. Browser is case-insensitive.">
	{{form.ifcontainSeq}}
	</div>
	<span id="clearsearch" style="float: right;">
	<input type="submit" name="Search" value="Search" onclick="SetURL('sorting_form', '/amyload/addedFilter/');"/>
	<input type="submit" name="Clear" value="Clear" onclick="SetURL('sorting_form', '/amyload/addedFrags/');"/>
	</span>
	<br><br>
	<span style="float:right">Show:
	<select name="selected" onChange="SetURL('sorting_form', '/amyload/addedHowMany/');document.getElementById('sorting_form').submit();">
		<option value="10">10</option>
		{% if howMany > 10 %}
		<option {% if selected == 25 %} selected {% endif %} value="25">25</option>
			{% if howMany > 25 %}
			<option {% if selected == 50 %} selected {% endif %} value="50">50</option> 
				{% if howMany > 50 %}
				<option {% if selected == 100 %} selected {% endif %} value="100">100</option>
					{% if howMany > 100 %}
					<option {% if selected ==  200 %} selected {% endif %} value="200">200</option>
						{% if howMany > 200 %}
						<option {% if selected > 200 %} selected {% endif %} value="{{howMany}}">All</option>
						{% endif %}
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}	
	</select>
		{% if fromWhich == 1 or fromWhich == 0 %}
			(Previous)
		{% else %}
			(<a href="javascript:;" onclick="SetURL('sorting_form', '/amyload/addedPrevious/');document.getElementById('sorting_form').submit();">Previous</a>)
		{% endif %}
		{% if howMany == 0 %} 0 {% else %} {{fromWhich}} {% endif %} to {% if toWhich <= howMany %} {{toWhich}} {% else %} {{howMany}} {% endif %} of {{howMany}}
		{% if toWhich < howMany %}
			(<a href="javascript:;" onclick="SetURL('sorting_form', '/amyload/addedNext/');document.getElementById('sorting_form').submit();">Next</a>)
		{% else %}
			(Next)
		{% endif %}
	</span>
	<br><br>
	<input type="hidden" name="h_{{form.proteins.name}}" value="{{form.proteins.value}}">
	<input type="hidden" name="h_{{form.ifaggregate.name}}" value="{{form.ifaggregate.value}}">
	<input type="hidden" name="h_{{form.minlength.name}}" value="{{form.minlength.value}}">
	<input type="hidden" name="h_{{form.maxlength.name}}" value="{{form.maxlength.value}}">
	<input type="hidden" name="h_{{form.bywhatsort.name}}" value="{{form.bywhatsort.value}}">
	<input type="hidden" name="h_{{form.ascordesc.name}}" value="{{form.ascordesc.value}}">
	<input type="hidden" name="h_{{form.ifcontainProt.name}}" value="{{form.ifcontainProt.value}}">
	<input type="hidden" name="h_{{form.ifcontainSeq.name}}" value="{{form.ifcontainSeq.value}}">
	<input type="hidden" name="h_fromWhich" value="{{fromWhich}}">
	<input type="hidden" name="h_toWhich" value="{{toWhich}}">

	<table class="tableTitle">
		<tr>
			<td style="width:180px;">
				<b>Protein Name</b>
			</td>
			<td style="width:140px;">
				<b>Fragment Name</b>
			</td>
			<td style="width:440px;">
				<b>Sequence</b>
			</td>
			<td style="width:110px;">
				<b>Amyloidogenic</b>
			</td>
			<td style="width:105px;">
				<b>Reviewed</b>
			</td>
		</tr>
	</table>
	<div class="scrollable" >
		<table class="fixed">
			{%for f in fragments %}
				<tr style="font-size:14px">
					<td style="width:180px;">
						{{f.protein}}
					</td>
					<td style="width:140px;">
						<a href="/amyload/addedFragmentInfo/{{f.id}}" target="_blank">{{f.name}}</a>
					</td>
					<td style="width:440px;">
						{{f.sequence}}
					</td>
					<td style="width:110px;">
					{% if f.ifaggregate == 1 %}
						Yes
					{% else %}
						No
					{% endif %}
					</td>
					<td style="width:105px;">
					{% if f.reviewed == True %}
						Yes
					{% else %}
						No
					{% endif %}
					</td>
			{% endfor %}
		</table>
	</div>
</form>
</fieldset>
{% endblock %}
