{% extends 'amyload/index.html' %}
{% block title %}{{title}}{% endblock %}
{% block results %}
<fieldset id="analysis_fieldset">
	{% if info %}
		{% if iferror == "1" %}<span style="color:red">{% else %}<span style="color:blue">{% endif %}{{info}}</span>
		<br>
		<br>
	{% endif %}
	<form id="analysis_form" name="analysis_form" method="post" action="/amyload/performAnalysis/" enctype="multipart/form-data">
	{% csrf_token %}
		{% if not user.is_authenticated %}<b>Results will be sent to you by email:&nbsp;&nbsp;</b>{{form.email}}<br>{% endif %}
		<b>Input FASTA file (example <a href="/amyload/downloadFasta/">here</a>):&nbsp;&nbsp;</b>{{form.file}}<br>
		<b>Choose an option:</b><br>
		<table>
			<tr><td></td><td>{{form.foldamyloid}}</td><td>FoldAmyloid (<a href="http://www.ncbi.nlm.nih.gov/pubmed/20019059" target="_blank">article</a>) (<a href="http://bioinfo.protres.ru/fold-amyloid/" target="_blank">try it by yourself</a>)</td><td></td><td></td></tr>
			<tr id="foldamyloidTD0" class="foldamyloidTD" style="display: none;"><td></td><td></td><td colspan="3" style="text-align:center;">Averaging frame number must be odd. If not, it will be rounded up to the closest odd number.</td></tr>
			<tr id="foldamyloidTD1" class="foldamyloidTD" style="display: none;"><td></td><td></td><td></td><td style="text-align:center;">Averaging frame</td><td style="text-align:center;">Threshold</td></tr>
			<tr id="foldamyloidTD2" class="foldamyloidTD" style="display: none;"><td></td><td></td><td rowspan="5">{{form.foldamyloid_options}}</td><td>{{form.foldamyloid_frame_1}}</td><td>{{form.foldamyloid_threshold_1}}</td></tr>
			<tr id="foldamyloidTD3" class="foldamyloidTD" style="display: none;"><td></td><td></td><td>{{form.foldamyloid_frame_2}}</td><td>{{form.foldamyloid_threshold_2}}</td></tr>
			<tr id="foldamyloidTD4" class="foldamyloidTD" style="display: none;"><td></td><td></td><td>{{form.foldamyloid_frame_3}}</td><td>{{form.foldamyloid_threshold_3}}</td></tr>
			<tr id="foldamyloidTD5" class="foldamyloidTD" style="display: none;"><td></td><td></td><td>{{form.foldamyloid_frame_4}}</td><td>{{form.foldamyloid_threshold_4}}</td></tr>
			<tr id="foldamyloidTD6" class="foldamyloidTD" style="display: none;"><td></td><td></td><td>{{form.foldamyloid_frame_5}}</td><td>{{form.foldamyloid_threshold_5}}</td></tr>
			<tr><td></td><td>{{form.aggrescan}}</td><td>AGGRESCAN (<a href="http://www.ncbi.nlm.nih.gov/pubmed/17324296" target="_blank">article</a>) (<a href="http://bioinf.uab.es/aggrescan/" target="_blank">try it by yourself</a>)</td><td></td><td></td></tr>
			<tr><td></td><td>{{form.fish}}</td><td>FiSH (<a href="http://www.ncbi.nlm.nih.gov/pubmed/24564523" target="_blank">article</a>) (<a href="http://comprec-lin.iiar.pwr.edu.pl/fishInput/" target="_blank">try it by yourself</a>)</td><td></td><td></td></tr>
			<tr id="fishTD0" class="fishTD" style="display: none;"><td></td><td></td><td></td><td style="text-align:center;">{{form.fish_threshold_1.label_tag}}</td><td></td></tr>
			<tr id="fishTD1" class="fishTD" style="display: none;"><td></td><td></td><td rowspan="2">{{form.fish_options}}</td><td>{{form.fish_threshold_1}}</td><td></td></tr>
			<tr id="fishTD2" class="fishTD" style="display: none;"><td></td><td></td><td>{{form.fish_threshold_2}}</td><td></td></tr>
			<tr><td></td><td>{{form.inclusion}}</td><td>Check for the presence of sequence fragments from the database</td><td></td><td></td></tr>
		</table>
		<span style="position:relative;float:right;">
			<input type="submit" disabled id="analyze" name="analyze" value="Analyze"/>
			<div style="position:absolute; left:0; right:0; top:0; bottom:0; cursor: pointer;" onClick="CheckAlert('In order to run calculations you must:\n{% if not user.is_authenticated %}- provide email address,\n{% endif %}- upload a FASTA file,\n- choose at least one analysis method with at least one option (if available).');"></div>
		</span>
	</form>
</fieldset>
<br>
<fieldset id="user_fieldset">
	<b>Other analysis methods not implemented (yet):</b>
	<br>
	<div id="methods">
		<ul>
			<li><b>3D Profile Method</b> (see <a href="http://www.ncbi.nlm.nih.gov/pubmed/16537487" target="_blank">article</a>) (<a href="http://services.mbi.ucla.edu/zipperdb/submit" target="_blank">try it</a>)</li>
			Structure-based algorithm using crystal structure of the fibril-forming peptide NNQQNY from the sup35 prion protein of Saccharomyces cerevisiae in order to compute fibrillation propensities.
			<li><b>AGGRESCAN3D</b> (see <a href="http://www.ncbi.nlm.nih.gov/pubmed/25883144" target="_blank">article</a>) (<a href="http://biocomp.chem.uw.edu.pl/A3D/" target="_blank">try it</a>)</li>
			A webserver for prediction of aggregation propensity in protein structures and rational design of protein solubility. Based on an experimentally derived intrinsic aggregation propensity scale for natural amino acids used in AGGRESCAN method.
			<li><b>AmyloidMutants</b> (see <a href="http://www.ncbi.nlm.nih.gov/pubmed/21685090" target="_blank">article</a>) (<a href="http://amyloid.csail.mit.edu/" target="_blank">try it</a>)</li>
			A webserver which computes a predicted sequence/structure landscape of an amyloid fibril and samples sequences and their corresponding full structure.
			<li><b>AMYLPRED</b> (see <a href="http://www.ncbi.nlm.nih.gov/pubmed/19589171" target="_blank">article</a>) (<a href="http://aias.biol.uoa.gr/AMYLPRED/" target="_blank">try it</a>)</li>
			Consensus method which uses different algorithms developed to predict features related to the formation of amyloid fibrils. 
			<li><b>AMYLPRED2</b> (see <a href="http://www.ncbi.nlm.nih.gov/pubmed/23326595" target="_blank">article</a>) (<a href="http://aias.biol.uoa.gr/AMYLPRED2/" target="_blank">try it</a>)</li>
			Improved version of AMYLPRED.
			<li><b>MetAmyl</b> (see <a href="http://www.ncbi.nlm.nih.gov/pubmed/24260292" target="_blank">article</a>) (<a href="http://metamyl.genouest.org/e107_plugins/metamyl_aggregation/db_prediction_meta.php" target="_blank">try it</a>)</li>
			Amyloidogenesis meta-predictor which combines the results of such predictors like PAFIG, SALSA, Waltz and FoldAmyloid.
			<li><b>NetCSSP</b> (see <a href="http://www.ncbi.nlm.nih.gov/pubmed/19468045" target="_blank">article</a>) (<a href="http://cssp2.sookmyung.ac.kr/" target="_blank">try it</a>)</li>
			Neural networks for calculating Contact-dependent Secondary Structure Propensity predicting non-native secondary structures and amyloid fibril formation.
			<li><b>Pafig</b> (see <a href="http://www.ncbi.nlm.nih.gov/pubmed/19208147" target="_blank">article</a>) (<a href="http://www.mobioinfor.cn/pafig/" target="_blank">try it</a>)</li>
			Method based on support vector machines which exploits 41 physicochemical properties to identify fibrillar aggregating regions in protein sequence.
			<li><b>PASTA</b> (see <a href="http://www.ncbi.nlm.nih.gov/pubmed/24848016" target="_blank">article</a>) (<a href="http://protein.bio.unipd.it/pasta2/" target="_blank">try it</a>)</li>
			A webserver predicting sequence fragments which are more likely to stabilize the cross-beta core of fibrillar aggregates.
			<li><b>SALSA</b> (see <a href="http://www.ncbi.nlm.nih.gov/pubmed/17456743" target="_blank">article</a>)</li>
			Algorithm which calculates an average β-strand propensity score of a peptide window using Chou and Fasman β-strand preference numbers (<a href="http://www.ncbi.nlm.nih.gov/pubmed/4358939" target="_blank">Chou and Fasman 1974</a>).
			<li><b>TANGO</b> (see <a href="http://www.ncbi.nlm.nih.gov/pubmed/16434184" target="_blank">article</a>) (<a href="http://tango.crg.es/" target="_blank">try it</a>)</li>
			A statistical mechanics algorithm based on physico-chemical principles of secondary structure formation.
			<li><b>WALTZ</b> (see <a href="http://www.ncbi.nlm.nih.gov/pubmed/20154676" target="_blank">article</a>) (<a href="http://waltz.switchlab.org/" target="_blank">try it</a>)</li>
			Web-based tool that uses a position-specific scoring matrix to determine amyloid-forming sequences. Method built on the data of experimentally derived amyloid hexapeptides.
			<li><b>Zyggregator</b> (see <a href="http://www.ncbi.nlm.nih.gov/pubmed/18568165" target="_blank">article</a>) (<a href="http://www-mvsoftware.ch.cam.ac.uk/" target="_blank">try it</a>)</li>
			A sequence-based method of predicting aggregation propensities of proteins.
		</ul>
	</div>
</fieldset>
{% endblock %}
