{% extends 'amyload/index.html' %}
{% block title %}{{title}}{% endblock %}
{% block results %}
<form id="sorting_form" name="sorting_form" method="post" action="/amyload/database/">
	{% if info %}
		{% if iferror == "1" %}<span style="color:red">{% else %}<span style="color:blue">{% endif %}{{info}}</span>
		<br>
	{% endif %}
	{% csrf_token %}
	<span data-tip="Protein Name">
	{{form.proteins}}
	</span>
	<span data-tip="Amyloidogenic?">
	{{form.ifaggregate}}
	</span>
	<span data-tip="Min Length">
	{{form.minlength}}
	</span>
	<span data-tip="Max Length">
	{{form.maxlength}}
	</span>
	<span data-tip="Sort by">
	{{form.bywhatsort}}
	</span>
	<span data-tip="Sorting order">
	{{form.ascordesc}}
	</span>
	<div data-tip="Input word and search for protein names which contain it. Browser is case-insensitive.">
	{{form.ifcontainProt}}
	</div>
	<div data-tip="Input amino acid sequence and search for protein sequences which contain it. Browser is case-insensitive.">
	{{form.ifcontainSeq}}
	</div>
	<span id="clearsearch" style="float: right;">
	<input type="submit" name="Search" value="Search" onclick="SetURL('sorting_form', '/amyload/databaseFilter/');"/>
	<input type="submit" name="Clear" value="Clear"  onclick="SetURL('sorting_form', '/amyload/database/');"/>
	</span>
	<br><br>
	<span style="float:right">Show:
	<select name="selected" onChange="SetURL('sorting_form', '/amyload/databaseHowMany/');document.getElementById('sorting_form').submit();">
		<option value="10">10</option>
		{% if howMany > 10 %}
			<option {% if selected == 25 %} selected {% endif %} value="25">25</option>
			{% if howMany > 25 %}
				<option {% if selected == 50 %} selected {% endif %} value="50">50</option> 
				{% if howMany > 50 %}
				<option {% if selected == 100 %} selected {% endif %} value="100">100</option>
					{% if howMany > 100 %}
					<option {% if selected ==  200 %} selected {% endif %} value="200">200</option>
						{% if howMany > 200 %}
						<option {% if selected > 200 %} selected {% endif %} value="{{howMany}}">All</option>
						{% endif %}
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}	
	</select>
		{% if fromWhich == 1 or fromWhich == 0 %}
			(Previous)
		{% else %}
			(<a href="javascript:;" onclick="SetURL('sorting_form', '/amyload/databasePrevious/');document.getElementById('sorting_form').submit();">Previous</a>)
		{% endif %}
		{% if howMany == 0 %} 0 {% else %} {{fromWhich}} {% endif %} to {% if toWhich <= howMany %} {{toWhich}} {% else %} {{howMany}} {% endif %} of {{howMany}}
		{% if toWhich < howMany %}
			(<a href="javascript:;" onclick="SetURL('sorting_form', '/amyload/databaseNext/');document.getElementById('sorting_form').submit();">Next</a>)
		{% else %}
			(Next)
		{% endif %}
	</span>
	<br>
	<input type="hidden" name="reviewed" value="1">
	<input type="hidden" name="h_{{form.proteins.name}}" value="{{form.proteins.value}}">
	<input type="hidden" name="h_{{form.ifaggregate.name}}" value="{{form.ifaggregate.value}}">
	<input type="hidden" name="h_{{form.minlength.name}}" value="{{form.minlength.value}}">
	<input type="hidden" name="h_{{form.maxlength.name}}" value="{{form.maxlength.value}}">
	<input type="hidden" name="h_{{form.bywhatsort.name}}" value="{{form.bywhatsort.value}}">
	<input type="hidden" name="h_{{form.ascordesc.name}}" value="{{form.ascordesc.value}}">
	<input type="hidden" name="h_{{form.ifcontainProt.name}}" value="{{form.ifcontainProt.value}}">
	<input type="hidden" name="h_{{form.ifcontainSeq.name}}" value="{{form.ifcontainSeq.value}}">
	<input type="hidden" name="h_fromWhich" value="{{fromWhich}}">
	<input type="hidden" name="h_toWhich" value="{{toWhich}}">
	<input type="hidden" name="h_fromWhichMoved" value="{{fromWhichMoved}}">
	<input type="hidden" name="h_toWhichMoved" value="{{toWhichMoved}}">

<fieldset class="form_fieldset">
	<table class="tableTitle">
		<tr>
			<td style="width:180px;">
				<b>Protein Name</b>
			</td>
			<td style="width:140px;">
				<b>Fragment Name</b>
			</td>
			<td style="width:440px;">
				<b>Sequence</b>
			</td>
			<td style="width:110px;">
				<b>Amyloidogenic</b>
			</td>
			<td style="width:105px;text-align:center;">
				<input type="button" onclick="All(this);" value="All"><input type="button" onclick="None(this);" value="None">
			</td>
		</tr>
	</table>
<div class="scrollable" >
	<table class="fixed">
		{%for f in fragments %}
			<tr style="font-size:14px">
				<td style="width:180px;">{{f.protein}}</td>
				<td style="width:140px;"><a href="/amyload/fragmentInfo/{{f.id}}" target="_blank">{{f.name}}</a></td>
				<td style="width:440px;">{{f.sequence}}</td>
				<td style="width:110px;">
				{% if f.ifaggregate == 1 %}
					Yes
				{% else %}
					No
				{% endif %}
				</td>
				<td style="width:105px;text-align:center;"><input type="checkbox" name="checkbox" id="{{f.id}}" value="{{f.id}}" {% if not user.is_authenticated %} onclick="checkEnableFile()"  {% else %} onclick="checkEnableMove()" {% endif %}/></td></tr>
		{% endfor %}
	</table>
</div>
</fieldset>

{% if not user.is_authenticated %}
	<input type="submit" disabled id="toFasta" name="toFasta" value="Download in FASTA file" style="float: right;" onclick="SetURL('sorting_form', '/amyload/databaseChosenFasta/');"/>
	<input type="submit" disabled id="toXml" name="toXml" value="Download in XML file" style="float: right;" onclick="SetURL('sorting_form', '/amyload/databaseChosenXml/');"/>
	<input type="submit" disabled id="toSsv" name="toSsv" value="Download in SSV file" style="float: right;" onclick="SetURL('sorting_form', '/amyload/databaseChosenSsv/');"/>
	<input type="submit" disabled id="toCsv" name="toCsv" value="Download in CSV file" style="float: right;" onclick="SetURL('sorting_form', '/amyload/databaseChosenCsv/');"/>
{% endif %}

{% if user.is_authenticated %}
<div id="movedBookmark">
</div>
<input type="submit" disabled id="move" name="move" value="Move" style="float: right;" onclick="SetURL('sorting_form', '/amyload/databaseMove/');"/>
<br>
<p style="text-align:right">Show:
<select name="selectedMoved" onChange="SetURL('sorting_form', '/amyload/databaseHowManyMoved/#movedBookmark');document.getElementById('sorting_form').submit();">
	<option value="10">10</option>
	{% if howManyMoved > 10 %}
	<option {% if selectedMoved == 25 %} selected {% endif %} value="25">25</option>
		{% if howManyMoved > 25 %}
		<option {% if selectedMoved == 50 %} selected {% endif %} value="50">50</option> 
			{% if howManyMoved > 50 %}
			<option {% if selectedMoved == 100 %} selected {% endif %} value="100">100</option>
				{% if howManyMoved > 100 %}
				<option {% if selectedMoved ==  200 %} selected {% endif %} value="200">200</option>
					{% if howManyMoved > 200 %}
					<option {% if selectedMoved > 200 %} selected {% endif %} value="{{howManyMoved}}">All</option>
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}
	{% endif %}
</select>
	{% if fromWhichMoved == 1 or fromWhichMoved == 0 %}
		(Previous)
	{% else %}
		(<a href="javascript:;" onclick="SetURL('sorting_form', '/amyload/databasePreviousMoved/#movedBookmark');document.getElementById('sorting_form').submit();">Previous</a>)
	{% endif %}
	{% if howManyMoved == 0 %} 0 {% else %} {{fromWhichMoved}} {% endif %} to {% if toWhichMoved <= howManyMoved %} {{toWhichMoved}} {% else %} {{howManyMoved}} {% endif %} of {{howManyMoved}}
	{% if toWhichMoved < howManyMoved %}
		(<a href="javascript:;" onclick="SetURL('sorting_form', '/amyload/databaseNextMoved/#movedBookmark');document.getElementById('sorting_form').submit();">Next</a>)
	{% else %}
		(Next)
	{% endif %}
</p>

<fieldset class="form_fieldset">
	<table class="tableTitle">
		<tr>
			<td style="width:180px;">
				<b>Protein Name</b>
			</td>
			<td style="width:140px;">
				<b>Fragment Name</b>
			</td>
			<td style="width:455px;">
				<b>Sequence</b>
			</td>
			<td style="width:95px;">
				<b>Fibril former</b>
			</td>
			<td id="check" style="width:105px;">
				<input type="button" {% if sessionList %}onclick="AllSecond(this);"{% endif %} value="All"><input type="button" {% if sessionList %}onclick="NoneSecond(this);"{% endif %} value="None">
			</td>
		</tr>
	</table>
<div class="scrollable" >
	<table class="fixed">
		{%for s in sessionList %}
			<tr style="font-size:14px">
				<td style="width:180px;">{{s.protein}}</td>
				<td style="width:140px;"><a href="/amyload/fragmentInfo/{{s.id}}" target="_blank">{{s.name}}</a></td>
				<td style="width:455px;">{{s.sequence}}</td>
				<td style="width:95px;">
				{% if s.ifaggregate == 1 %}
					Yes
				{% else %}
					No
				{% endif %}
				</td>
				<td style="width:105px;text-align:center;"><input type="checkbox" name="checkbox2" id="saved_{{s.id}}" value="{{s.id}}" onclick="checkEnableRemove()"/></td></tr>
		{% endfor %}
	</table>
</div>
</fieldset>

<input type="submit" disabled id="remove" name="remove" value="Remove selected" style="float: right;" onclick="SetURL('sorting_form', '/amyload/databaseRemove/#movedBookmark');"/>
<input type="submit" {% if not sessionList %} disabled {% endif %} name="toFasta" value="Download ALL in FASTA file" style="float: right;" onclick="SetURL('sorting_form', '/amyload/databaseAllFasta/');"/>
<input type="submit" {% if not sessionList %} disabled {% endif %} name="toXml" value="Download ALL in XML file" style="float: right;" onclick="SetURL('sorting_form', '/amyload/databaseAllXml/');"/>
<input type="submit" {% if not sessionList %} disabled {% endif %} name="toSsv" value="Download ALL in SSV file" style="float: right;" onclick="SetURL('sorting_form', '/amyload/databaseAllSsv/');"/>
<input type="submit" {% if not sessionList %} disabled {% endif %} name="toCsv" value="Download ALL in CSV file" style="float: right;" onclick="SetURL('sorting_form', '/amyload/databaseAllCsv/');"/>
<input type="submit" {% if not sessionList %} disabled {% endif %} name="newSession" value="Clear session" style="float: right;" onclick="SetURL('sorting_form', '/amyload/newSession/#movedBookmark');"/>
<br>
<br>
<input id="{{saveForm.saveName.name}}" name="{{saveForm.saveName.name}}" type="text" style="float: right;" placeholder="{{saveForm.saveName.field.widget.attrs.placeholder}}" maxlength="{{saveForm.saveName.field.max_length}}" {% if sessionList %} onkeyup="checkEnableSave()" onblur="checkEnableSave()" onfocus="checkEnableSave()" onpaste="checkEnableSave()"{% endif %} >
<input type="submit" disabled id="save_session" name="save_session" value="Save session" style="float: right;" onclick="SetURL('sorting_form', '/amyload/databaseSaveSession/');"/>
{% endif %}
</form>
{% endblock %}
