{% extends 'amyload/index.html' %}
{% block title %}{{title}}{% endblock %}
{% block results %}	
<fieldset class="form_fieldset">
{% if info %}<p style="text-align:left;{% if iferror == "1" %}color:red{% else %}color:blue{% endif %}">{{info}}</p>{% endif %}

<table>
		<tr>
			<td style="width:300px;"><b>AmyLoad index:</b></td>
			<td style="width:875px;">AMY{{amyId}}</td>
		</tr>
		<tr>
			<td style="width:300px;"><b>Protein name:</b></td>
			<td style="width:875px;">{{protein}}</td>
		</tr>
		<tr>
			<td style="width:300px;"><b>Fragment name:</b></td>
			<td style="width:875px;">{{name}}</td>
		</tr>
		<tr>
			<td style="width:300px;"><b>Sequence:</b></td>
			<td style="width:875px;">{{sequence}}</td>
		</tr>
		<tr>
			<td style="width:300px;"><b>Sequence Length:</b></td>
			<td style="width:875px;">{{sequence|length}}</td>
		</tr>
		<tr>
			<td style="width:300px;"><b>Fibril formation:</b></td>
			<td style="width:875px;">
				{% if ifaggregate == False %}
					No
				{% else %}
					Yes
				{% endif %}
			</td>
		</tr>
		<tr>
			<td style="width:300px;"><b>Additional examination data:</b></td>
			<td style="width:875px;">{{solution}}</td>
		</tr>
		<tr>
			<td style="width:300px;"><b>Examination method:</b></td>
			<td style="width:875px;">
				{% if methods %}
					{% for m in methods %}
						{% if m.reviewed == 1 or added %}
							{{m.name}},
						{% endif %}
					{% endfor %}
				{% else %}
					No data
				{% endif %}	
			</td>
		</tr>
		<tr>
			<td style="width:300px;"><b>Source database:</b></td>
			<td style="width:875px;">
				{% if sources %}
					{% for p in sources %}
						{% if p.reviewed == 1 or added %}
							{{p.name}}
							{% if p.name == "WALTZ" %}
								<a href="http://waltzdb.switchlab.org/sequences/{{sequence}}" target="_blank">(see)</a>
							{% endif %}
							{% for pc in p.citations.all %}
							<a href="//{{pc.link}}" target="_blank">
								[{{forloop.parentloop.counter}}.{{forloop.counter}}]
							</a>
							{% endfor %}
							,
						{% endif %}
					{% endfor %}
				{% endif %}
			</td>
		</tr>
		<tr>
			<td style="width:300px;"><b>Related diseases:</b></td>
			<td style="width:875px;">
				{% if diseases %}
					{% for d in diseases %}
						{% if d.reviewed == 1 or added %}
							{{d.name}};
						{% endif %}
					{% endfor %}
				{% else %}
					No data
				{% endif %}	
			</td>
		</tr>
		<tr>
			<td style="width:300px;"><b>References:</b></td>
			<td style="width:875px;">
				{% if citations %}
					{% for c in citations %}
						{% if c.reviewed == 1 or added %}
						<a href="//{{c.link}}" target="_blank">
							{{c.name}},
						</a>
						{% endif %}
					{% endfor %}
				{% endif %}
			</td>
		</tr>
		
		{% if added %}
		<tr>
			<td style="width:300px;"><b>Date of submission:</b></td>
			<td style="width:875px;">{{date}}</td>
		</tr>
		<tr>
			<td style="width:300px;"><b>Note to reviewer:</b></td>
			<td style="width:875px;">{{note}}</td>
		</tr>
		{% endif %}
</table>

{% if user.is_authenticated and not added %}
<form id="user_data" name="user_data" method="post" action="/amyload/sendComment/{{fragId}}/">
{% csrf_token %}
<input type="submit" id="send_comment" name="send_comment" value="{{comment_form.comment.label}}" style="float: left;"/>
{{comment_form.comment}}
</form>
{% endif %}

</fieldset>
{% endblock %}
