{% extends "amyload/index.html" %}
{% load static %}
{% block title %}{{title}}{% endblock %}

{% block results %}
<fieldset id="user_fieldset">

<h1>Table of contents:</h1>
<ul>
	<li><a href="#pages"><b>Pages description</b></a></li>
	<li><a href="#methodsAbb"><b>Methods abbreviations</b></a></li>
	<li><a href="#format"><b>Data format</b></a></li>
	<li><a href="#input"><b>Add new sequence</b></a></li>
	<li><a href="#cite"><b>How to cite</b></a></li>
	<li><a href="#technology"><b>Technologies</b></a></li>
</ul>

<a id="pages"><h1>Pages description</h1></a>
<p>Short description of each page is presented below:</p>
<table>
	<tr>
		<td style="vertical-align:top;padding:0;width:100px">
			<b>Database</b>
		</td>
		<td style="width:900px;">
			- Filtration of sequences in the database by protein name, fibril formation, sequence length, and subsequence occurrence. Available sequences are only those approved by the database curator.
			<br>
			- By clicking the sequence name more data is shown, such as: concentration of fibril formation, method which was used to determine the fibril formation of sequence, related diseases, other databases which contain the sequence, or proper references.
			<br>
			- Saving the data about selected sequences into the FASTA, SSV, CSV or XML file.
			<br>
			- Moving/Removing selected sequences into/from the temporary browsing session.{% if not user.is_authenticated %} <b>(AVAILABLE AFTER LOGIN)</b>{% endif %}
			<br>
			- Saving a temporary browsing session for later use.{% if not user.is_authenticated %} <b>(AVAILABLE AFTER LOGIN)</b>{% endif %}
		</td>
	</tr>
	<tr>
		<td style="vertical-align:top;padding:0;width:100px">
			<b>Analysis</b>
		</td>
		<td style="width:900px;">
			- The analysis of sequences given in FASTA file with results sent by e-mail.
			<br>
			- Available analysis options:
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a) FoldAmyloid (described <a href="http://www.ncbi.nlm.nih.gov/pubmed/20019059" target="_blank">here</a>)
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b) AGGRESCAN (described <a href="http://www.ncbi.nlm.nih.gov/pubmed/17324296" target="_blank">here</a>)
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c) FiSH (described <a href="http://www.ncbi.nlm.nih.gov/pubmed/24564523" target="_blank">here</a>)
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d) Check for the presence of sequence fragments in the database
		</td>
	</tr>
	<tr>
		<td style="vertical-align:top;padding:0;width:100px">
			<b>Your Data</b>
		</td>
		<td style="width:900px;">
			{% if not user.is_authenticated %}
			<b>- AVAILABLE AFTER LOGIN</b>
			<br>
			{% endif %}
			- Change user login data - email and password.
			<br>
			- Filtration of user's sequences added into the database by protein name, fibril formation, sequence length, revision state, and subsequence occurrence.
			<br>
			- Filtration of user's saved browsing session by saving date and session name.
			<br>
			- Loading/Removing user's saved browsing session.
		</td>
	</tr>
	<tr>
		<td style="vertical-align:top;padding:0;width:100px">
			<b>Submit Seq</b>
		</td>
		<td style="width:900px;">
			{% if not user.is_authenticated %}
			<b>- AVAILABLE AFTER LOGIN</b>
			<br>
			{% endif %}
			- Submit the sequence into the database. The submitted sequence is unrevised and not visible to other users until the database curator verifies and approves it.
			<br>
			- Sequences can be submitted by website form (one sequence at a time) or by proper XML file (one or many sequences at a time). For more information about adding new sequence and about exemplary XML file see <a href="#input">here</a>.
		</td>
	</tr>
</table>

<a id="methodsAbb"><h1>Methods abbreviations</h1></a>
<ul>
	<li><b>AFM</b> - Atomic Force Microscopy</li>
	<li><b>CD</b> - Circular Dichroism</li>
	<li><b>EM</b> - Electron Microscopy</li>
	<li><b>EPR</b> - Electron Paramagnetic Resonance spectroscopy</li>
	<li><b>FTIR</b> - Fourier Transform Infrared Spectroscopy</li>
	<li><b>NMR</b> - Nuclear Magnetic Resonance spectroscopy</li>
	<li><b>PLM</b> - Polarized Light Microscopy</li>
	<li><b>ProteoStat</b> - Protein aggregation assay</li>
	<li><b>RF-HPLC</b> - Reverse Phase HPLC </li>
	<li><b>TEM</b> - Transmission Electron Microscopy</li>
	<li><b>ThS</b> - Thioflavine S binding</li>
	<li><b>ThT</b> - Thioflavine T binding</li>
</ul>

<a id="format"><h1>Data format</h1></a>
<p>File formats used in this websites are presented below:</p>
<table>
	<tr>
		<td style="vertical-align:top;padding:0;width:100px">
			<b>FASTA</b>
		</td>
		<td style="width:900px;">
			- Description of FASTA file format can be found <a href="http://en.wikipedia.org/wiki/FASTA_format" target="_blank">here</a>.
		</td>
	</tr>
	<tr>
		<td style="vertical-align:top;padding:0;width:100px">
			<b>CSV</b>
		</td>
		<td style="width:900px;">
			- Comma Separated Values
			<br>
			- Description of CSV file format can be found <a href="http://en.wikipedia.org/wiki/Comma-separated_values" target="_blank">here</a>.
			<br>
			- Contains chosen information about sequence fragment, such as: database id, protein name, fragment name, sequence, and amyloid formation.
		</td>
	</tr>
	<tr>
		<td style="vertical-align:top;padding:0;width:100px">
			<b>SSV</b>
		</td>
		<td style="width:900px;">
			- Semicolon Separated Values
			<br>
			- Because of multiple values of source, method, disease, and reference, which can occur for one sequence fragment, they are additionally separated by key words. The key words are:
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a) <i>METHODS</i> - before method names
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a) <i>DISEASES</i> - before disease names
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b) <i>SOURCES</i> - before multiple sources of data
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c) <i>SOURCE</i> - before one source data (within <i>SOURCES</i>)
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d) <i>SOURCE_REFERENCES</i> - before source's reference data (within <i>SOURCE</i>)
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d) <i>REFERENCES</i> - before reference data
		</td>
	</tr>
	<tr>
		<td style="vertical-align:top;padding:0;width:100px">
			<b>XML</b>
		</td>
		<td style="width:900px;">
			- Extensible Markup Language - description can be found <a href="http://en.wikipedia.org/wiki/XML" target="_blank">here</a>.
			<br>
			- Exemplary xml file with one sequence fragment can be download <a href="/amyload/downloadXML2/">here</a>.
		</td>
	</tr>
</table>

<a id="input"><h1>Add new sequence{% if not user.is_authenticated %} (AVAILABLE AFTER LOGIN){% endif %}</h1></a>
<p>Each sequence added by a user into the database will not be visible to other users until the database curator verifies and approves it. Till that time new sequences will be visible only for the user who submitted them in "Your Data" section. New sequences can be added into the database in two ways:</p>
<ul>
	<li><b>Website form</b></li>
</ul>
<table><tr><td style="text-align:center;"><img id="input_form_pic" src="{% static "amyload/input_form.png" %}" alt="Input sequence picture"></td></tr></table>
<ul style="list-style-type:none;">
<li>
	<b>Important information:</b>
	<table>
	<tr>
		<td style="width:950px;">
			- only one <i>Sequence</i> at a time,
			<br>
			- <i>Sequence</i> and <i>Protein</i> name are obligatory,
			<br>
			- cannot add <i>Sequence</i> which is already in the database,
			<br>
			- only one <i>Protein</i>, <i>Source</i>, and <i>Reference</i> can be assigned to one <i>Sequence</i>,
			<br>
			- only one input option can be chosen at a time while adding information about <i>Protein</i>, <i>Method</i>, <i>Disease</i>, <i>Source</i>, and/or <i>Reference</i>, e.g. if a user adds information about sequence's <i>Protein</i> (see picture above) he/she can only choose it from available proteins (option on the left) or input information about new protein which is not in the database (option on the right) - he/she cannot choose both,
			<br>
			- if a user gives information about a new <i>Source</i> and/or <i>Reference</i>, which is not in a database, all data must be given (only PMID and url can be given alternatively),
			<br>
			- remarks for the reviewer will be visible only for the reviewer and user who added a sequence
		</td>
	</tr>
	</table>
</li>
</ul>
<ul>
	<li><b>XML file</b></li>
	<li style="list-style-type: none;">
	<table><tr><td style="text-align:center;"><img id="input_xml_pic" src="{% static "amyload/input_xml.png" %}" alt="Input sequence by XML picture"></td></tr></table>
	<b>Important information:</b>
	<table>
	<tr>
		<td style="width:950px;">
			- one or many <i>Sequences</i> at a time,
			<br>
			- if many <i>Sequences</i> are added at a time, they all must be in <b><u>one</u></b> root tag e.g. "&lt;sequences&gt;&lt;/sequences&gt;",
			<br>
			- only one <i>Protein</i> can be assigned to one <i>Sequence</i>,
			<br>
			- many <i>Sources</i> and references can be assigned to one <i>Sequence</i>,
			<br>
			- <i>Sequence</i> which is already in the database cannot be added for the same protein,
			<br>
			- if a user gives information about a new <i>Source</i> and/or <i>Reference</i> which is not in a database, all data must be given (only PMID and url can be given alternatively),
			<br>
			- remarks for the reviewer will be visible only for the reviewer and user who add a sequence
			<br>
			- exemplary xml file with two sequence fragments can be download <a href="/amyload/downloadXML1/">here</a>
			<br>
			- summary of XML file processing is sent by email with detailed information about any errors in each submitted sequence fragment
		</td>
	</tr>
	</table>
</li>
</ul>

<a id="cite"><h1>How to cite</h1></a>
<p>If you use our website (its data and/or functionality), <b>please cite</b>:</p>
<div style="text-align:justify">
<u>Wozniak PP, Kotulska M, <i>AmyLoad – website dedicated to amyloidogenic protein fragments</i>, Bioinformatics 2015 Jun 17. doi: 10.1093/bioinformatics/btv375</u>
</div>
<p><b>Also</b>, please follow the proper citation etiquette:</p>
<ul>
	<li><b>Citation of a single sequence fragment</b></li>
	<li style="list-style-type: none;">
	If you use single sequences, please use the references which are visible next to the <i>References</i> row after clicking the fragment name in the database view (<a href="/amyload/fragmentInfo/452/" target="_blank">example</a>).
	</li>
	<li><b>Citation of many sequence fragments</b></li>
	<li style="list-style-type: none;">
	When there are many sequence fragments (especially those which came from the same <i>Source</i>) please use the references which are visible next to the <i>Source database</i> row after clicking the fragment name in the database view (<a href="/amyload/fragmentInfo/452/" target="_blank">example</a>).
	</li>
	<li><b>Citation of an analysis method</b></li>
	<li style="list-style-type: none;">
	If you use any analysis method available in the <i>Analysis</i> section, please use a citation which occurs next to the name of the method in the <i>Analysis</i> section.
	</li>
</ul>

<a id="technology"><h1>Technologies</h1></a>
<p>Software used to create this website is listed below:</p>
<table>
	<tr>
		<td style="vertical-align:top;padding:0;width:100px">
			<img id="django_logo" src="{% static "amyload/django-logo-negative.png" %}" alt="Django logo">
		</td>
		<td style="width:900px;">
			<a href="https://www.djangoproject.com/" target="_blank">Django 1.7.6</a> - The Web framework for perfectionists with deadlines
		</td>
	</tr>
	<tr>
		<td style="vertical-align:top;padding:0;width:100px">
			<img id="mysql_logo" src="{% static "amyload/logo-mysql.png" %}" alt="MySQL logo">
		</td>
		<td style="width:900px;">
			<a href="http://dev.mysql.com/" target="_blank">MySQL 5.5.37</a> - The world's most popular open source database
		</td>
	</tr>
	<tr>
		<td style="vertical-align:top;padding:0;width:100px">
			<img id="biopython_logo" src="{% static "amyload/biopython.jpg" %}" alt="BioPython logo">
		</td>
		<td style="width:900px;">
			<a href="http://biopython.org/wiki/Main_Page" target="_blank">BioPython 1.58</a> - Set of freely available tools for biological computation written in <a href="https://www.python.org" target="_blank">Python</a>
		</td>
	</tr>
	<tr>
		<td style="vertical-align:top;padding:0;width:100px">
			<img id="lxml_logo" src="{% static "amyload/lxml.png" %}" alt="lxml logo">
		</td>
		<td style="width:900px;">
			<a href="http://lxml.de/" target="_blank">lxml</a> - XML and HTML with <a href="https://www.python.org" target="_blank">Python</a>
		</td>
	</tr>
</table>

</fieldset>
{% endblock %}
