{% extends "amyload/index.html" %}
{% load static %}
{% block title %}{{title}}{% endblock %}

{% block results %}
<fieldset id="user_fieldset">
	Welcome to the <i>AmyLoad</i> website - a place dedicated to amyloidogenic sequence fragments. Before you start see our <a href="/amyload/help/">HELP</a> page.
	<br>
	<br>
	<b>Which sequence fragments are called <i>amyloidogenic</i>?</b>
	<br>
	<br>
	<div style="text-align:justify">
		A significant growth of amyloid diseases, such as Alzheimer's, Parkinson's, or Huntington's diseases, has been observed. Mechanisms of their development are still unclear. Research shows that they are related to the presence of specific sequence fragments in proteins. These fragments are greatly prone to aggregate, creating objects of different shapes, such as fibrils, torus-shaped oligomers, or amorphous aggregates. The objects are called <i>amyloids</i>, so we call the sequence fragments <i>amyloidogenic</i>.
		<br>
		<br>
		Our service is dedicated to amyloidogenic protein fragments. You can find here experimentally tested sequences or submit new fragments into the database. Additionally, some predicting tools are available <a href="/amyload/analysisPage/">HERE</a> which will help you to determine if your sequence is potentially amyloidogenic.
	</div>
	<br>
	<br>
	<b>If you used our service please cite:</b>
	<br>
	<div style="text-align:justify">
		Wozniak PP, Kotulska M, <i>AmyLoad – website dedicated to amyloidogenic protein fragments</i>,<br>
		Bioinformatics 2015 Jun 17. doi: 10.1093/bioinformatics/btv375
	</div>
</fieldset>
{% endblock %}
