<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
{% comment %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% endcomment %}
	<head>
			<title>{% block title %}{{title}}{% endblock %}</title>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<meta property="og:title" content="AmyLoad" />
			<meta property="og:description" content="Website dedicated to amyloidogenic sequence fragments." />
			<meta property="og:url" content="http://comprec-lin.iiar.pwr.edu.pl/amyload/" />
			<link href="{% static "css/amyload/stylesheet.css" %}" rel="stylesheet" type="text/css" media="screen">
			<link href="{% static "cookielaw/css/cookielaw.css" %}" rel="stylesheet" type="text/css" media="screen">
	</head>
	<body>
	
	<div id="content">
		<div id="links">
			<p>
				<a href="http://www.portal.pwr.edu.pl/index,242.dhtml" target="_blank">
					<img id="pwr_logo" src="{% static "pwr_logo.png" %}" alt="PWr logo">
				</a>
			</p>
			<br>
			<p>
				<a href="http://www.wppt.pwr.edu.pl" target="_blank">
				 	<b>Faculty of Fundamental Problems of Technology</b>
				 </a>
			</p>
			<br>
			<p>
				<a href="http://www.ibp.pwr.edu.pl/" target="_blank">
				 	<b>Department of Biomedical Engineering</b>
				 </a>
			</p>
			<br>
			<p>
				<a href="http://www.kotulska-lab.pwr.wroc.pl" target="_blank">
				 	<b>Group of Bioinformatics and Biophysics of Nanopores</b>
				 </a>
			</p>
			<br>
			<p id="comprec_link">
				<a href="/">
				 	<b>COMPREC</b>
				 </a>
			</p>
		</div>
		
		<div id="wrap">
			{% load cookielaw_tags %}
			{% cookielaw_banner %}
			<p>
				<a href="/amyload/">
					<img id="logo" src="{% static "amyload/amyload_logo.png" %}" alt="Amyload logo">
				</a>
			</p>
			
			<div id="panel">
				{% if user.is_authenticated %}
				<ul>
					<li>
						<b>Status: logged in</b>
					</li>
				</ul>
				{% endif %}
				<ul>
					<li>
						<a href="/amyload/"><p {% if title == "AmyLoad - Home" %}style="color:#FFDE7C;"{% endif %}><b>Home</b></p></a>
					</li>
					<li>
						<a href="/amyload/database/"><p {% if title == "AmyLoad - Database" %}style="color:#FFDE7C;"{% endif %}><b>Database</b></p></a>
					</li>
					<li>
						<a href="/amyload/analysisPage/"><p {% if title == "AmyLoad - Analysis" %}style="color:#FFDE7C;"{% endif %}><b>Analysis</b></p></a>
					</li>
				
				{% if not user.is_authenticated %}
					<li>
						<a href="/amyload/register/"><p {% if title == "AmyLoad - Registration" %}style="color:#FFDE7C;"{% endif %}><b>Registration</b></p></a>
					</li>
					<li>
						<a href="/amyload/help/"><p {% if title == "AmyLoad - Help" %}style="color:#FFDE7C;"{% endif %}><b>Help</b></p></a>
					</li>
				</ul>
				<div id="login">
					<form id="login_form" method="post" action="/amyload/login/">
						{% csrf_token %}
						<a>Username:</a>
						<input type="text" name="username" value="" class="login_input" autocomplete="off"/>
						<a>Password:</a>
						<input type="password" name="password" value="" class="login_input" autocomplete="off"/>
						<input type="submit" value="Login" />
					</form>
					<p style="color:red">{{error}}</p>
					<br>
					<a href="/amyload/user/password/reset/"><p style="font-size:13px"><b>Forgotten password?</b></p></a>
				</div>
				{% else %}
					<li>
						<a href="/amyload/aboutYou/"><p {% if title == "AmyLoad - About You" or title == "AmyLoad - Added fragments" or title == "AmyLoad - Saved sessions" %}style="color:#FFDE7C;"{% endif %}><b>Your Data</b></p></a>
					</li>
					<li>
						<a href="/amyload/insertForm/"><p {% if title == "AmyLoad - Insert Sequence" %}style="color:#FFDE7C;"{% endif %}><b>Submit Seq</b></p></a>		
					</li>
					<li>
						<a href="/amyload/help/"><p {% if title == "AmyLoad - Help" %}style="color:#FFDE7C;"{% endif %}><b>Help</b></p></a>
					</li>
					<li>
						<a href="/amyload/logout/"><p><b>Logout</b></p></a>
					</li>
				</ul>
				{% endif %}
			</div>
			<div id="results">
				{% block results %}{% endblock %}
			</div>
			<div id="author">
				&copy; 2014 Powered by Paweł P. Woźniak<br>
				administrative contact: <a href="mailto:pawel.p.wozniak@pwr.edu.pl">pawel.p.wozniak@pwr.edu.pl</a><br>
				If you used this service please cite:<br>
				<b>Wozniak PP, Kotulska M, <i>AmyLoad – website dedicated to amyloidogenic protein fragments</i>,<br>
				Bioinformatics 2015 Jun 17. doi: 10.1093/bioinformatics/btv375</b>
			</div>
		</div>
	</div>
	<script src="{% static 'js/amyload/amyload.js' %}"></script>
	<script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>
	<script>
  		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  		ga('create', 'UA-63513331-2', 'auto');
  		ga('send', 'pageview');
	</script>
	</body>
</html>
