{% extends 'amyload/index.html' %}
{% block title %}{{title}}{% endblock %}
{% block results %}

{% if xmlInfo %}<span style="color:blue">{{xmlInfo}}</span><br>{% endif %}
{% if xmlError %}<span style="color:red">{{xmlError}}</span><br>{% endif %}
Upload your XML file with data to add...
<fieldset id="file_fieldset">
	<form id="upload_form" method="post" action="/amyload/insertXml/" enctype="multipart/form-data">
		{% csrf_token %}
		<table style="width:100%;">
			<tr>
				<td style="width:15%;">
					<b>{{upload_form.file.label}} (example <a href="/amyload/downloadXML1/">here</a>):</b>
				</td>
				<td style="text-align:left;">
					{{upload_form.file}}
				</td>
				<td>
					<input type="submit" name="submitXML" value="Submit" style="float: right;"/>
				</td>
			</tr>
		</table>
	</form>
</fieldset>
	...or use a form if you want to add one sequence at a time with maximum one "source" and "reference".
<fieldset id="insert_fieldset">
	<form id="insert_form" method="post" action="/amyload/insertForm/">
		{% csrf_token %}
		<table>
			{% if insert_form.name.errors %}<tr><td colspan="4"><span style="color:red">{{insert_form.name.errors|striptags}}</span></td></tr>{% endif %}
			{% if insert_form.sequence.errors %}<tr><td colspan="4"><span style="color:red">{{insert_form.sequence.errors|striptags}}</span></td></tr>{% endif %}
			{% if insert_form.proteinName.errors %}<tr><td colspan="4"><span style="color:red">{{insert_form.proteinName.errors|striptags}}</span></td></tr>{% endif %}
			{% if insert_form.solution.errors %}<tr><td colspan="4"><span style="color:red">{{insert_form.solution.errors|striptags}}</span></td></tr>{% endif %}
			{% if insert_form.methodNames.errors %}<tr><td colspan="4"><span style="color:red">{{insert_form.methodNames.errors|striptags}}</span></td></tr>{% endif %}
			{% if insert_form.diseaseNames.errors %}<tr><td colspan="4"><span style="color:red">{{insert_form.diseaseNames.errors|striptags}}</span></td></tr>{% endif %}
			{% if insert_form.sourceCitUrl.errors %}<tr><td colspan="4"><span style="color:red">{{insert_form.sourceCitUrl.errors|striptags}}</span></td></tr>{% endif %}
			{% if insert_form.citationUrl.errors %}<tr><td colspan="4"><span style="color:red">{{insert_form.citationUrl.errors|striptags}}</span></td></tr>{% endif %}
			{% if insert_form.note.errors %}<tr><td colspan="4"><span style="color:red">{{insert_form.note.errors|striptags}}</span></td></tr>{% endif %}
			{% if ifExist %}<tr><td colspan="4"><span style="color:red">There is already such a sequence for chosen protein in the database.</span></td></tr>{% endif %}

			<tr><td colspan="4"><span style="color:blue">{{info}}</span></td></tr>
			<tr><td colspan="4">*Data required.</td></tr>
			<tr><td colspan="4">**Only input or choose - both options set will be considered as an error.</td></tr>
			<tr>
				<td>
					{% if insert_form.name.errors %}
						<span style="color:red"><b>{{insert_form.name.label}}</b></span>
					{% else %}
						<b>{{insert_form.name.label}}</b>
					{% endif %}
				</td>
				<td colspan="3">
					<b>{{insert_form.name}}</b>
				</td>
			</tr>
			<tr>
				<td>
					{% if insert_form.sequence.errors or ifExist %}
						<span style="color:red"><b>{{insert_form.sequence.label}}</b></span>
					{% else %}
						<b>{{insert_form.sequence.label}}</b>
					{% endif %}
				</td>
				<td colspan="3">
					<b>{{insert_form.sequence}}</b>
				</td>
			</tr>
			<tr>
				<td>
					<b>{{insert_form.ifaggregate.label}}</b>
				</td>
				<td colspan="3">
					<b>{{insert_form.ifaggregate}}</b>
				</td>
			</tr>
			<tr>
				<td>
					{% if insert_form.proteinName.errors or ifExist %}
						<span style="color:red"><b>{{insert_form.proteinExist.label}}</b></span>
					{% else %}
						<b>{{insert_form.proteinExist.label}}</b>
					{% endif %}
				</td>
				<td>
					<b>{{insert_form.proteinExist}}</b>
				</td>
				<td style="text-align:right;">
					{% if insert_form.proteinName.errors or ifExist %}
						<span style="color:red"><b>{{insert_form.proteinName.label}}</b></span>
					{% else %}
						<b>{{insert_form.proteinName.label}}</b>
					{% endif %}
				</td>
				<td>
					<b>{{insert_form.proteinName}}</b>
				</td>
			</tr>
			<tr>
				<td>
					{% if insert_form.solution.errors %}
						<span style="color:red"><b>{{insert_form.solution.label}}</b></span>
					{% else %}
						<b>{{insert_form.solution.label}}</b>
					{% endif %}
				</td>
				<td colspan="3">
					<b>{{insert_form.solution}}</b>
				</td>
			</tr>
			<tr>
				<td>
					{% if insert_form.methodNames.errors %}
						<span style="color:red"><b>{{insert_form.methodExist.label}}</b></span>
					{% else %}
						<b>{{insert_form.methodExist.label}}</b>
					{% endif %}	
				</td>
				<td>
					<b>{{insert_form.methodExist}}</b>
				</td>
				<td style="text-align:right;">
					{% if insert_form.methodNames.errors %}
						<span style="color:red"><b>{{insert_form.methodNames.label}}</b></span>
					{% else %}
						<b>{{insert_form.methodNames.label}}</b>
					{% endif %}	
				</td>
				<td>
					<b>{{insert_form.methodNames}}</b>
				</td>
			</tr>
			<tr><td></td><td></td><td colspan="2">If more than one, separate them with semicolons, e.g. "CD; ThS".</td></tr>
						<tr>
				<td>
					{% if insert_form.diseaseNames.errors %}
						<span style="color:red"><b>{{insert_form.diseaseExist.label}}</b></span>
					{% else %}
						<b>{{insert_form.diseaseExist.label}}</b>
					{% endif %}	
				</td>
				<td>
					<b>{{insert_form.diseaseExist}}</b>
				</td>
				<td style="text-align:right;">
					{% if insert_form.diseaseNames.errors %}
						<span style="color:red"><b>{{insert_form.diseaseNames.label}}</b></span>
					{% else %}
						<b>{{insert_form.diseaseNames.label}}</b>
					{% endif %}	
				</td>
				<td>
					<b>{{insert_form.diseaseNames}}</b>
				</td>
			</tr>
			<tr><td></td><td></td><td colspan="2">If more than one, separate them with semicolons, e.g. "1st disease; 2nd disease".</td></tr>
			<tr>
				<td>
					{% if insert_form.citationUrl.errors %}
						<span style="color:red"><b>{{insert_form.citationExist.label}}</b></span>
					{% else %}
						<b>{{insert_form.citationExist.label}}</b>
					{% endif %}	
				</td>
				<td>
					<b>{{insert_form.citationExist}}</b>
				</td>
				<td style="text-align:right;">
					{% if insert_form.citationUrl.errors %}
						<span style="color:red"><b>{{insert_form.citationName.label}}</b></span>
					{% else %}
						<b>{{insert_form.citationName.label}}</b>
					{% endif %}	
				</td>
				<td>
					<b>{{insert_form.citationName}}</b>
				</td>
			</tr>
			<tr><td></td><td></td><td colspan="2" style="text-align:right;">Example: "Wozniak (2014)"</td></tr>
			<tr>
				<td></td><td></td>
				<td style="text-align:right;">
					{% if insert_form.citationUrl.errors %}
						<span style="color:red"><b>{{insert_form.citationPmid.label}}</b></span>
					{% else %}
						<b>{{insert_form.citationPmid.label}}</b>
					{% endif %}	
				</td>
				<td>
					<b>{{insert_form.citationPmid}}</b>
				</td>
			</tr>
			<tr>
				<td></td><td></td>
				<td style="text-align:right;">
					{% if insert_form.citationUrl.errors %}
						<span style="color:red"><b>{{insert_form.citationUrl.label}}</b></span>
					{% else %}
						<b>{{insert_form.citationUrl.label}}</b>
					{% endif %}
				</td>
				<td>
					<b>{{insert_form.citationUrl}}</b>
				</td>
			</tr>
			<tr><td></td><td></td><td colspan="2" style="text-align:right;">Choose PMID or link (or both).</td></tr>
			<tr>
				<td>
					{% if insert_form.sourceCitUrl.errors %}
						<span style="color:red"><b>{{insert_form.sourceExist.label}}</b></span>
					{% else %}
						<b>{{insert_form.sourceExist.label}}</b>
					{% endif %}	
				</td>
				<td>
					<b>{{insert_form.sourceExist}}</b>
				</td>
				<td style="text-align:right;">
					{% if insert_form.sourceCitUrl.errors %}
						<span style="color:red"><b>{{insert_form.sourceName.label}}</b></span>
					{% else %}
						<b>{{insert_form.sourceName.label}}</b>
					{% endif %}	
				</td>
				<td>
					<b>{{insert_form.sourceName}}</b>
				</td>
			</tr>
			<tr>
				<td></td><td></td>
				<td style="text-align:right;">
					{% if insert_form.sourceCitUrl.errors %}
						<span style="color:red"><b>{{insert_form.sourceCitName.label}}</b></span>
					{% else %}
						<b>{{insert_form.sourceCitName.label}}</b>
					{% endif %}	
				</td>
				<td>
					<b>{{insert_form.sourceCitName}}</b>
				</td>
			</tr>
			<tr><td></td><td></td><td colspan="2" style="text-align:right;">Example: "Wozniak (2014)"</td></tr>
			<tr>
				<td></td><td></td>
				<td style="text-align:right;">
					{% if insert_form.sourceCitUrl.errors %}
						<span style="color:red"><b>{{insert_form.sourceCitPmid.label}}</b></span>
					{% else %}
						<b>{{insert_form.sourceCitPmid.label}}</b>
					{% endif %}	
				</td>
				<td>
					<b>{{insert_form.sourceCitPmid}}</b>
				</td>
			</tr>
			<tr>
				<td></td><td></td>
				<td style="text-align:right;">
					{% if insert_form.sourceCitUrl.errors %}
						<span style="color:red"><b>{{insert_form.sourceCitUrl.label}}</b></span>
					{% else %}
						<b>{{insert_form.sourceCitUrl.label}}</b>
					{% endif %}	
				</td>
				<td>
					<b>{{insert_form.sourceCitUrl}}</b>
				</td>
			</tr>
			<tr><td></td><td></td><td colspan="2" style="text-align:right;">Choose PMID or link (or both).</td></tr>
			<tr>
				<td>
					{% if insert_form.note.errors %}
						<span style="color:red"><b>{{insert_form.note.label}}</b></span>
					{% else %}
						<b>{{insert_form.note.label}}</b>
					{% endif %}	
				</td>
				<td colspan="3">
					<b>{{insert_form.note}}</b>
				</td>
			</tr>
			
		</table>
		<input type="submit" name="submit" value="Submit" style="float: right;"/>
	</form>
</fieldset>
{% endblock %}
