{% extends 'amyload/userData.html' %}
{% block savedsessions %}
<fieldset id="added_fieldset">
<form id="sorting_form" name="sorting_form" method="post" action="/amyload/savedSessions/">
	{% if info %}
		{% if iferror == "1" %}<span style="color:red">{% else %}<span style="color:blue">{% endif %}{{info}}</span>
		<br>
		<br>
	{% endif %}
	{% csrf_token %}
	Choose saving period - from: {{form.date1}} to: {{form.date2}}
	<span data-tip="Sort by">
	{{form.bywhatsort}}
	</span>
	<span data-tip="Sorting order">
	{{form.ascordesc}}
	</span>
	<div data-tip="Input session name.">
	{{form.ifcontainSession}}
	</div>
	<span id="clearsearch" style="float: right;">
	<input type="submit" name="Search" value="Search" onclick="SetURL('sorting_form', '/amyload/savedFilter/');"/>
	<input type="submit" name="Clear" value="Clear" onclick="SetURL('sorting_form', '/amyload/savedSessions/');"/>
	</span>
	<br><br>
	<span style="float:right">Show:
	<select name="selected" onChange="SetURL('sorting_form', '/amyload/savedHowMany/');document.getElementById('sorting_form').submit();">
		<option value="10">10</option>
		{% if howMany > 10 %}
		<option {% if selected == 25 %} selected {% endif %} value="25">25</option>
			{% if howMany > 25 %}
			<option {% if selected == 50 %} selected {% endif %} value="50">50</option> 
				{% if howMany > 50 %}
				<option {% if selected == 100 %} selected {% endif %} value="100">100</option>
					{% if howMany > 100 %}
					<option {% if selected ==  200 %} selected {% endif %} value="200">200</option>
						{% if howMany > 200 %}
						<option {% if selected > 200 %} selected {% endif %} value="{{howMany}}">All</option>
						{% endif %}
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}	
	</select>
		{% if fromWhich == 1 or fromWhich == 0 %}
			(Previous)
		{% else %}
			(<a href="javascript:;" onclick="SetURL('sorting_form', '/amyload/savedPrevious/');document.getElementById('sorting_form').submit();">Previous</a>)
		{% endif %}
		{% if howMany == 0 %} 0 {% else %} {{fromWhich}} {% endif %} to {% if toWhich <= howMany %} {{toWhich}} {% else %} {{howMany}} {% endif %} of {{howMany}}
		{% if toWhich < howMany %}
			(<a href="javascript:;" onclick="SetURL('sorting_form', '/amyload/savedNext/');document.getElementById('sorting_form').submit();">Next</a>)
		{% else %}
			(Next)
		{% endif %}
	</span>
	<br><br>
	<input type="hidden" name="h_{{form.bywhatsort.name}}" value="{{form.bywhatsort.value}}">
	<input type="hidden" name="h_{{form.ascordesc.name}}" value="{{form.ascordesc.value}}">
	<input type="hidden" name="h_{{form.ifcontainSession.name}}" value="{{form.ifcontainSession.value}}">
	<input type="hidden" name="h_{{form.date1.name}}" value="{{form.date1.value}}">
	<input type="hidden" name="h_{{form.date2.name}}" value="{{form.date2.value}}">
	<input type="hidden" name="h_fromWhich" value="{{fromWhich}}">
	<input type="hidden" name="h_toWhich" value="{{toWhich}}">
	<table class="tableTitle">
		<tr>
			<td style="width:795px;">
				<b>Session Name</b>
			</td>
			<td style="width:140px;">
				<b>Date</b>
			</td>
			<td style="width:50px;">
			</td>
		</tr>
	</table>
	<div class="scrollable" >
		<table class="fixed">			
			{%for d in dataset %}
			<tr style="font-size:14px">
				<td style="width:795px;">
					{{d.name}}
				</td>
				<td style="width:140px;">
					{{d.date}}
				</td>
				<td style="width:50px;text-align:center;">
					<input type="radio" name="radio" id="{{d.id}}" value="{{d.id}}" onclick="checkEnableLoad()"/>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<input type="submit" disabled id="remove" name="remove" value="Remove session" style="float: right;" onclick="SetURL('sorting_form', '/amyload/removeSaved/');"/>
	<input type="submit" disabled id="load" name="load" value="Load session" style="float: right;" onclick="SetURL('sorting_form', '/amyload/loadSaved/');"/>
</form>
</fieldset>
{% endblock %}
