{% extends 'amyload/index.html' %}
{% block title %}{{title}}{% endblock %}
{% block results %}
<form id="panel_form" name="panel_form" method="post" action="/">
	{% csrf_token %}
	<div id="userPanel">
		<table>
			<tr>
				<td>
					<ul>
						<li>
							<span id="bookmark">
							<a href="javascript:;" onclick="SetURL('panel_form', '/amyload/aboutYou/');document.getElementById('panel_form').submit();">{% if title == "AmyLoad - About You" %}<span style="color:#6F6FC5;">{% endif %}<b>About You</b>{% if title == "About You" %}</span>{% endif %}</a>
							</span>
						</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>
							<span id="bookmark">
							<a href="javascript:;" onclick="SetURL('panel_form', '/amyload/addedFrags/');document.getElementById('panel_form').submit();">{% if title == "AmyLoad - Added fragments" %}<span style="color:#6F6FC5;">{% endif %}<b>Added fragments</b>{% if title == "Added fragments" %}</span>{% endif %}</a>
							</span>
						</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>
							<span id="bookmark">
							<a href="javascript:;" onclick="SetURL('panel_form', '/amyload/savedSessions/');document.getElementById('panel_form').submit();">{% if title == "AmyLoad - Saved sessions" %}<span style="color:#6F6FC5;">{% endif %}<b>Saved sessions</b>{% if title == "Saved sessions" %}</span>{% endif %}</a>
							</span>
						</li>
					</ul>
				</td>
			</tr>
		</table>
	</div>
</form>
	{% if title == "AmyLoad - About You" %}
		{% block aboutyou %}{% endblock %}
	{% elif title == "AmyLoad - Added fragments" %}
		{% block addedfrags %}{% endblock %}
	{% elif title == "AmyLoad - Saved sessions" %}
		{% block savedsessions %}{% endblock %}
	{% endif %}
{% endblock %}
