#CookielawBanner {
	background: #CCCCFF;
	padding: 15px 15px;
	border-radius: 20px;
	box-shadow: 0 0 50px rgba(1, 1, 1, 0.7);
	border-style: solid;
	border-color: #ff0000;
}

#CookielawBanner .container {
	position: relative;
}

#CookielawBanner a {
	text-decoration: none;
}

#CookielawBanner p {
	margin: 0;
	padding: 0;
}

#CookielawBanner a:hover,
#CookielawBanner current a {
	box-shadow: 0 0 5px rgba(1, 1, 1, 0.7);
	border-radius: 5px;
	color: #fff;
	text-shadow: 0px 0px 5px rgba(1, 1, 1, 0.7);
}

#CookielawBanner #CookielawCross {
    background: url('../img/close.png') no-repeat 0 0;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
}
