{% extends "comprec/index.html" %}
{% load static %}
{% block title %}{{title}}{% endblock %}

{% block results %}
<fieldset id="user_fieldset">
	<div style="text-align:justify">
		<h2>AmyLoad</h2>
		AmyLoad is a web server dedicated to amyloidogenic sequence fragments. It gathers {{howMany}} different entries from several datasets. This number is still growing. AmyLoad allows users to create their own browsing sessions, add their own sequences into the database, and to analyse query FASTA sequences with implemented amyloid predictors.
		<h1 style="text-align:center"><a style="text-decoration:none" href="/amyload/database/">ENTER DATABASE</a></h1>
		<h3>How to cite</h3>
                If you used our service please cite:
                <br>
                Wozniak PP, Kotulska M, <i>AmyLoad – website dedicated to amyloidogenic protein fragments</i>, <b>Bioinformatics</b> 2015 Jun 17. doi: 10.1093/bioinformatics/btv375		
		<h3>Contact</h3>
		<div id="mail">
			In case of any questions please contact the author: <a href="mailto:pawel.p.wozniak@pwr.edu.pl">pawel.p.wozniak@pwr.edu.pl</a>.
		</div>
	</div>
</fieldset>
{% endblock %}
