{% extends "comprec/index.html" %}
{% load static %}
{% block title %}{{title}}{% endblock %}

{% block results %}
<fieldset id="user_fieldset">
	<div style="text-align:justify">
		<h2>C2S - Contacts-to-Structure</h2>
		<h3>Introduction</h3>
		Knowledge of the location of protein contact sites can be used at different stages of protein structure prediction. For instance, in ab initio methods for constraining the conformational search space (Tress and Valencia, 2010) and screening low quality M-S (Bonneau et al., 2002). Contact sites can be also used for assessing quality of final full atom model-structures from both comparative and ab initio structure prediction protocols (Tress and Valencia, 2010), (Latek and Kolinski, 2008). Although most state-of-the-art methods for contact predictions show poor accuracy (Monastyrsky et al., 2011), the work of Marks et al. (Marks et al. 2011) showed that an evolutionary sequence variation approach can yield very accurate contact site predictions. If enough amino acid contacts are known, it is possible to estimate the 3D coordinates of C-alpha atoms (Vassura et al., 2008), (Duarte et al., 2010b), (Sathyapriya et al., 2009). There are tools that reconstruct the amino acid backbone and model amino acid side chains. Theoretically, it is possible to reconstruct full-atom protein structures based solely on contact maps. One of the questions that arise is on the potential accuracy of a contact-based approach to protein structure prediction and its limitations.
		<h3>The Aim</h3>
		C2S is an automated procedure for building full atom protein structures based on contact maps. 
		<h3>Methods</h3>
		The reconstruction protocol is a three step procedure which uses available bioinformatic applications. First, the 3D coordinates of C-alpha atoms are estimated based on constraints imposed by the contact map (FT-COMAR) (Vassura et al., 2008). This is followed by the backbone reconstruction (SABBAC) (Maupetit et al., 2006) and side-chain modeling (SCWRL) (Krivov et al., 2009). In the reconstruction process the author introduced original improvements, i.e. dummy loop modeling and structure symmetrization, which allowed to increase the accuracy of the procedure when modeling multichain and symmetric proteins.<br>
		<u>The online service C2Sv2.0 uses C2S_v2 pipeline. In C2S_v2 backbone reconstruction is carried out with REMO instead of SABBAC.</u>
		<h3>Download</h3>
		The package can be downloaded <a href="/downloadC2S/">here</a>. After unpacking the archive, follow the instructions in the c2s_readme.txt file. Most scripts have help menus. Run the scripts without any arguments to display help. The most important scripts:
		<ul>
			<li>cmap2struct - the main script that manages the reconstruction procedure</li>
			<li>c2s_generate_models - a script that allows to automatically generate multiple models</li>
		</ul>
		<h3>How to cite</h3>
		If you used the pipline please cite:
		<br>
		Konopka BM, Ciombor M, Kurczynska M, Kotulska M, <i>Automated Procedure for Contact-Map-Based Protein Structure Reconstruction</i>, <b>J Membr Biol</b>, 2014, March, DOI:10.1007/s00232-014-9648-x
		<h3>Contact</h3>
		<div id="mail">
			In case of any problems please contact the main author: <a href="mailto:bogumil.konopka@pwr.edu.pl">bogumil.konopka@pwr.edu.pl</a>
		</div>
	</div>
</fieldset>
{% endblock %}
