{% extends "comprec/index.html" %}
{% load static %}
{% block title %}{{title}}{% endblock %}

{% block results %}

<fieldset id="user_fieldset">
	<form id="insert_form" method="post" action="/c2sRun/" enctype="multipart/form-data">
	{% csrf_token %}
	{% if info %}<p style="text-align:left;color:blue"><b>{{info}}</b></p>{% endif %}
	{% if c2s_form.errors %}<p style="text-align:left;color:red"><b>This field is required.</b></p>{% endif %}
	<h3>Input parameters:</h3>
	<table>
		<tr>
			<td>{% if c2s_form.contactMap.errors %}<span style="text-align:left;color:red">{% endif %}{{c2s_form.contactMap.label}}{% if c2s_form.contactMap.errors %}</span>{% endif %}</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{c2s_form.contactMap}}</td>
		</tr>
		<tr>
			<td>{% if c2s_form.fastaFile.errors %}<span style="text-align:left;color:red">{% endif %}{{c2s_form.fastaFile.label}}{% if c2s_form.fastaFile.errors %}</span>{% endif %}</td>
			<td></td>
			<td>{{c2s_form.fastaFile}}</td>
		</tr>
		<tr>
			<td>{% if c2s_form.threshold.errors %}<span style="text-align:left;color:red">{% endif %}{{c2s_form.threshold.label}}{% if c2s_form.threshold.errors %}</span>{% endif %}</td>
			<td></td>
			<td>{{c2s_form.threshold}}</td>
		</tr>
		<tr>
			<td>{% if c2s_form.runNmb.errors %}<span style="text-align:left;color:red">{% endif %}{{c2s_form.runNmb.label}}{% if c2s_form.runNmb.errors %}</span>{% endif %}</td>
			<td></td>
			<td>{{c2s_form.runNmb}}</td>
		</tr>
		<tr>
			<td>{% if c2s_form.email.errors %}<span style="text-align:left;color:red">{% endif %}{{c2s_form.email.label}}{% if c2s_form.email.errors %}</span>{% endif %}</td>
			<td></td>
			<td>{{c2s_form.email}}</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><input type="submit" name="submitC2S" value="Submit"/></td>
		</tr>
	</table>
	</form>

	Exemplary contact map file (.cmap) and FASTA file (.fasta) can be downloaded <a href="/downloadC2SInput/">here</a>.<br>
	
	<div style="text-align:justify">
		<h3>About</h3>
		The C2Sv2.0 service allows to reconstruct full-atom protein structures based on contact maps. The needed inputs are the protein sequence in a FASTA file (FASTA example) and the contact map in a matrix format (CMAP example).	
		<h3>Methods</h3>
		C2Sv2.0 is a three-step procedure which uses available bioinformatic applications. First, the 3D coordinates of C-alpha atoms are estimated based on constraints imposed by the contact map (FT-COMAR) (Vassura et al., 2008). This is followed by the backbone reconstruction (REMO) (Li and Zhang) and side-chain modeling (SCWRL) (Krivov et al., 2009).
		<h3>How to cite</h3>
		If you used our pipeline please cite our work and all the tools that are embedded in the procedure:<br>
		<br>
		Konopka BM, Ciombor M, Kurczynska M, Kotulska M, <i>Automated procedure for contact-map-based protein structure reconstruction</i>, <b>J Membr Biol</b>, 2014 May;247(5):409-20.<br>
		Vassura M, Margara L, Di Lena P, Medri F, Fariselli P, Casadio R, <i>FT-COMAR: fault tolerant three-dimensional structure reconstruction from protein contact maps</i>, <b>Bioinformatics</b>, 2008 May 15;24(10):1313-5.<br>
		Yunqi Li and Yang Zhang, <i>REMO: A new protocol to refine full atomic protein models from C-alpha traces by optimizing hydrogen-bonding networks</i>, <b>Proteins</b>, 2009, 76: 665-676.<br>
		Krivov GG, Shapovalov MV, Dunbrack RL Jr, <i>Improved prediction of protein side-chain conformations with SCWRL4</i>, <b>Proteins</b>, 2009 Dec;77(4):778-95.<br>
		<h3>Contact</h3>
		<div id="mail">
			In case of any problems please contact the main author: <a href="mailto:bogumil.konopka@pwr.edu.pl">bogumil.konopka@pwr.edu.pl</a>
		</div>
	</div>
</fieldset>
{% endblock %}
