{% extends "comprec/index.html" %}
{% load static %}
{% block title %}{{title}}{% endblock %}

{% block results %}
<fieldset id="user_fieldset">
	<div style="text-align:justify">
		<h2>DCA vs. Misfolds</h2>
		<h3>Introduction</h3>
		This page includes information about our studies on DCA ability to select the better structure from among properly folded and misfolded variants. The manuscript of our studies is under preparation. More information will be available when the manuscript is published.
		<h3>Download</h3>
		<ul>
			<li>
				<a href="/downloadDCAvsMisfolds/obsolete.dat/">obsolete.dat</a> - list of all PDB obsolete structures and their successors available in PDB (downloaded from <a href="http://www.rcsb.org/pdb/static.do?p=general_information/about_pdb/summaries.html">here</a>)
			</li>
			<li>
                                <a href="/downloadDCAvsMisfolds/superseded/">superseded</a> - list of all PDB obsolete structures from obsolete.dat file which have been superseded together with their latest successors
                        </li>
			<li>
                                <a href="/downloadDCAvsMisfolds/not_superseded/">not_superseded</a> - list of all PDB obsolete structures from obsolete.dat file which have not been superseded
                        </li>
			<li>
                                <a href="/downloadDCAvsMisfolds/decoys.csv/">decoys.csv</a> - list of all native-decoy structure pairs from Decoys 'R' Us database used in our studies
                        </li>
			<li>
                                <a href="/downloadDCAvsMisfolds/Xray.csv/">Xray.csv</a> - list of all obsolete-successor structure pairs from PDB determined with X-ray crystallography used in our studies (available also in article's Supplementary Materials)
                        </li>
			<li>
                                <a href="/downloadDCAvsMisfolds/NMR.csv/">NMR.csv</a> - list of all obsolete-successor structure pairs from PDB determined with NMR spectroscopy used in our studies (available also in article's Supplementary Materials)
                        </li>
			<li>
                                <a href="/downloadDCAvsMisfolds/Decoys.zip/">Decoys.zip</a> - all data used in our studies about native-decoy structure pairs from Decoys 'R' Us database (e.g. <b>MSA</b>, raw <b>gplmDCA</b> results, information about residue pairs predicted as contacts)
                        </li>
			<li>
                                <a href="/downloadDCAvsMisfolds/Xray_superseded.zip/">Xray_superseded.zip</a> - all data used in our studies about obsolete-successor structure pairs from PDB determined with X-ray crystallography and in which obsolete structure was officially superseded in PDB (e.g. <b>MSA</b>, raw <b>gplmDCA</b> results, information about residue pairs predicted as contacts)
                        </li>
			<li>
                                <a href="/downloadDCAvsMisfolds/NMR_superseded.zip/">NMR_superseded.zip</a> - all data used in our studies about obsolete-successor structure pairs from PDB determined with NMR spectroscopy and in which obsolete structure was officially superseded in PDB (e.g. <b>MSA</b>, raw <b>gplmDCA</b> results, information about residue pairs predicted as contacts)
                        </li>
			<li>
                                <a href="/downloadDCAvsMisfolds/Not_superseded.zip/">Not_superseded.zip</a> - all data used in our studies about obsolete-successor structure pairs from PDB in which obsolete structure was not superseded in PDB so it was found with BLAST (e.g. <b>MSA</b>, raw <b>gplmDCA</b> results, information about residue pairs predicted as contacts)
                        </li>
		</ul>

		<h3>Contact</h3>
		<div id="mail">
			In case of any problems please contact the main author: <a href="mailto:pawel.p.wozniak@pwr.edu.pl">pawel.p.wozniak@pwr.edu.pl</a>
		</div>
	</div>
</fieldset>
{% endblock %}
