{% extends "comprec/index.html" %}
{% load static %}
{% block title %}{{title}}{% endblock %}

{% block results %}

<fieldset id="user_fieldset">
	<form id="insert_form" method="post" action="/fishRun/">
	{% csrf_token %}
	{% if fish_form.sequence.errors %}<p style="text-align:left;color:red"><b>{{fish_form.sequence.errors|striptags}}</b></p>{% endif %}
	<table>
		<tr>
			<td colspan="3"><b>The main parameters:</b></td>
			<td rowspan="4" align="right"><img id="fish_logo1" src="{% static "comprec/fish_logo.png" %}" alt="FISH logo"></td>
		</tr>
		<tr>
			<td>{{fish_form.threshold.label}}</td>
			<td>{{fish_form.threshold}}</td>
		</tr>
		<tr>
			<td>{{fish_form.prediction.label}}</td>
			<td>{{fish_form.prediction}}</td>
		</tr>
		<tr>
			<td colspan="3"><b>{{fish_form.fishSequence.label}}</b></td>
		</tr>
	</table>
	{{fish_form.fishSequence}}
	<br>
	<input type="submit" name="submitFish" value="Submit" style="float: right;"/>
	</form>
	<br>
	Description can be found <a href="/fishAbout/">here</a>.
	<h3>How to cite</h3>
	If you used our service please cite:
	<br>
	Gasior P, Kotulska M, <i>FISH Amyloid - a new method for finding amyloidogenic segments in proteins based on site specific co-occurence of aminoacids.</i> <b>BMC Bioinformatics</b>, 2014 Feb 24;15(1):54.
	<h3>Contact</h3>
	<div id="mail">
	In case of any problems please contact: <a href="mailto:malgorzata.kotulska@pwr.edu.pl">malgorzata.kotulska@pwr.edu.pl</a>
	</div>
</fieldset>
{% endblock %}
