{% extends "comprec/index.html" %}
{% load static %}
{% block title %}{{title}}{% endblock %}

{% block results %}
<fieldset id="user_fieldset">
	<div style="text-align:justify">
		<table>
			<tr>
				<td>
					<h3>Introduction</h3>
					Small fragments of proteins can be responsible for amyloid formation. Amyloids often underlie serious diseases, e.g. Alzheimer's and Parkinson's diseases. Our tool FISH Amyloid helps to predict amyloidogenic fragments of proteins. 
				</td>
				<td align="right">
					<img id="fish_logo2" src="{% static "comprec/fish_logo.png" %}" alt="FISH logo">
				</td>
			</tr>
		</table>
		<h3>Methods</h3>
		We used our new machine learning method based on the co-occurrence of aminoacid couples in short amyloidogenic fragments (hot spots)of proteins. The algorithm was trained on hot-spots, which were no longer than 10 amino acids, obtained from all available experimental databases. Then the method was tested with a 4-fold cross-validation method and the result is presented in the figure below.
		<p align="center"><img id="fish_plot" src="{% static "comprec/fish_plot.png" %}" alt="FISH plot"></p>
		where, SP - specificity, SN - sensitivity. In the figure the default threshold is marked. For the classification you can use one of two options. The data from the figure and the data for training can be downloaded: <a href="/downloadFishPlot/">plot</a> and <a href="/downloadFishData/">data</a>.
		<h3>Download</h3>
		We are working on making the package available for download. In the meantime please use our online service <a href="/fishInput/">here</a>.
		<h3>How to cite</h3>
		If you used our service please cite:
		<br>
		Gasior P, Kotulska M, <i>FISH Amyloid - a new method for finding amyloidogenic segments in proteins based on site specific co-occurence of aminoacids.</i> <b>BMC Bioinformatics</b>, 2014 Feb 24;15(1):54.
		<h3>Contact</h3>
		<div id="mail">
			In case of any problems please contact: <a href="mailto:malgorzata.kotulska@pwr.edu.pl">malgorzata.kotulska@pwr.edu.pl</a>
		</div>
	</div>
</fieldset>
{% endblock %}
