{% extends "comprec/index.html" %}
{% load static %}
{% block title %}{{title}}{% endblock %}

{% block results %}
<fieldset id="user_fieldset">
	<h2>Hot-Spot is Found</h2>
	<b>Prediction:</b> {% if prediction == "0" %}Standard{% elif prediction == "1" %}Full{% endif %}<br>
	<b>Threshold:</b> {{threshold}}<br>
	<b>Sequence:</b> {{sequence}}<br>
	<b style="color:red">Red 1</b> in the third column represents the amylogenic region.<br>
	<br>
	<div id="resultTable">
	<table>
		<tr>
			<td style="width:100px;">
				<b>Nr</b>
			</td>
			<td style="width:100px;">
				<b>AA</b>
			</td>
			<td style="width:100px;">
				<b>Prediction</b>
			</td>
			<td style="width:100px;">
				<b>Value</b>
			</td>
		</tr>
	{%for line in content %}
		<tr>
			<td>{{line.0}}</td>
			<td>{{line.1}}</td>
			<td {% if line.2 == "1" %}style="color:red;"{% endif %}>{{line.2}}</td>
			<td>{{line.3}}</td>
		</tr>
	{% endfor %}
	</table>
	</div>
	<br>
	<b>Test another sequence with <a href="/fishInput/">FiSH</a></b>
</fieldset>
{% endblock %}
