{% extends "comprec/index.html" %}
{% load static %}
{% block title %}{{title}}{% endblock %}

{% block results %}

<fieldset id="user_fieldset">
	<form id="insert_form" method="post" enctype="multipart/form-data" action="/fpFilterRun/">
	{% csrf_token %}
	{% if fpfilter_form.errors %}<p style="text-align:left;color:red"><b>This field is required.</b></p>{% endif %}
	{% if info %}<p style="text-align:left;color:blue"><b>{{info}}</b></p>{% endif %}
		<h3>Input parameters:</h3>
	{% if fpfilter_form.QueryName.errors %}<span style="text-align:left;color:red">{% endif %}
	{{fpfilter_form.QueryName.label}} {{fpfilter_form.QueryName}}
	{% if fpfilter_form.QueryName.errors %}</span>{% endif %}
		<br><br>
	Select filters:
	{% if fpfilter_choice_form.errors %}<span style="text-align:left;color:red">{% endif %}
	<table>
		<tr>
			<td>
				{% for checkbox in fpfilter_choice_form.filters %}
					<label>{{ checkbox.tag }} {{ checkbox.choice_label }}<br></label>
				{% endfor %}
			</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>
				cut-off value: <br>
				cut-off value: <br>
				cut-off value: <br>
				cut-off value: <br>
				t cut-off value: <br>
				a cut-off value:
			</td>
			<td>
				{{ fpfilter_choice_form.cut_off_1 }} (default: 0.02)<br>
				{{ fpfilter_choice_form.cut_off_2 }} (default: 95)<br>
				{{ fpfilter_choice_form.cut_off_3 }} (default: 5)<br>
				{{ fpfilter_choice_form.cut_off_5 }} (default: 0.95)<br>
				{{ fpfilter_choice_form.cut_off_6t }} b cut-off value:<br>
				{{ fpfilter_choice_form.cut_off_7a }} rsa cut-off value:<br>
			</td>
			<td>
				<br><br><br><br>
				{{ fpfilter_choice_form.cut_off_6rsa }} (default t=15, rsa=35)<br>
				{{ fpfilter_choice_form.cut_off_7b }} (default a=20, b=120)
			</td>
		</tr>
	</table>


	{% if fpfilter_choice_form.errors %}</span>{% endif %}
		<br>
	<table>
		<tr>
			<td>
                {% if fpfilter_form.DCAfile.errors %}<span style="text-align:left;color:red">{% endif %}
                {{fpfilter_form.DCAfile.label}}
                {% if fpfilter_form.DCAfile.errors %}</span>{% endif %}
            </td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{fpfilter_form.DCAfile}}Required for all filters</td>
		</tr>
		<tr id="msa-file-row" style="display: none;">
			<td>
                {% if fpfilter_form.MSAfile.errors %}<span style="text-align:left;color:red">{% endif %}
                {{fpfilter_form.MSAfile.label}}
                {% if fpfilter_form.MSAfile.errors %}</span>{% endif %}
            </td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{fpfilter_form.MSAfile}}Required for Low entropy, Frequent gap and Inter-terminus filters</td>
		</tr>
		<tr id="ss-file-row" style="display: none;">
			<td>
                {% if fpfilter_form.SSfile.errors %}<span style="text-align:left;color:red">{% endif %}
                {{fpfilter_form.SSfile.label}}
                {% if fpfilter_form.SSfile.errors %}</span>{% endif %}
            </td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{fpfilter_form.SSfile}}Required for Intra-secondary structure filter</td>
		</tr>
        <tr id="rsa-file-row" style="display: none;">
			<td>
                {% if fpfilter_form.RSAfile.errors %}<span style="text-align:left;color:red">{% endif %}
                {{fpfilter_form.RSAfile.label}}
                {% if fpfilter_form.RSAfile.errors %}</span>{% endif %}
            </td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{fpfilter_form.RSAfile}}Required for Buried-exposed filter and Terminus filter</td>
		</tr>
		<tr>
			<td>
                {% if fpfilter_form.email.errors %}<span style="text-align:left;color:red">{% endif %}
                {{fpfilter_form.email.label}}
                {% if fpfilter_form.email.errors %}</span>{% endif %}
            </td>
			<td></td>
			<td>{{fpfilter_form.email}}</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td> <input type="submit" name="submitFPFilter" value="Submit"/></td>
		</tr>
	</table>
	</form>
	Exemplary files (DCA, MSA, Secondary Structure and Relative Solvent Accessibility) can be downloaded <a href="/downloadFpFilterInput/">here</a>.<br>
	<div style="text-align:justify">
		<h3>About</h3>
		FP filters allow removing false positive results from protein contact maps created with DCA methods. Each filter uses additional information about target protein, such as its MSA, predicted secondary structure or predicted relative solvent accessibility. For more information about each filter and how to use the tool please check the zip file available for download above.
		<h3>How to cite</h3>
		If you used our filters please cite our work:<br>
		<!--<br>-->
		Wozniak PP, Pelc J, Skrzypecki M, Vriend G, Kotulska M, <i>Bio-knowledge  based  filters  improve  residue-residue contact prediction accuracy</i>, <b>Bioinformatics</b>, 2018 Nov; 34(21):3675-3683.<br>
		<h3>Contact</h3>
		<div id="mail">
			In case of any problems please contact: <a href="mailto:malgorzata.kotulska@pwr.edu.pl">malgorzata.kotulska@pwr.edu.pl</a>
		</div>
	</div>
</fieldset>


{% endblock %}

{% block filters-scripts %}
<script src="{% static 'js/fpfilters.js' %}"></script>
{% endblock %}
