{% extends "comprec/index.html" %}
{% load static %}
{% block title %}{{title}}{% endblock %}

{% block results %}
<fieldset id="user_fieldset">
	Welcome to the <i>COMPREC</i> website.
	<br>
	We gathered here  all bioinformatic tools developed with the support from <b>National Science Center of Poland N N519 643540</b>:
	<br>
	<br>
	<table style="width:100%;">
			<tr>
				<td style="width:25%;"><a href="c2s">C2S - Contacts-to-Structures</a></td> 
				<td>Contact map-based protein structure reconstruction pipeline</td>
			</tr> 
			<tr>
				<td><a href="/fishInput/">FiSH Amyloid</a></td>
				<td>Amyloidogenic region predictor</td></td>
			</tr>
			<tr> 
				<td><a href="/pco/">PCO - Protein Contacts Ontology</a></td>
				<td>An ontology for annotation of protein structures and contact maps</td>
			</tr> 
			<tr>
				<td><a href="/amyloadAbout/">AmyLoad</a></td>
				<td>A database of amyloidogenic regions.</td>
			</tr>
	</table>
	<br>
	<div style="text-align:justify">
	The NCN grant is directed by Dr. Hab. Eng. Malgorzata Kotulska, head of the Group of Bioinformatics and Biophysics of Nanopores at the Department of Biomedical Engineering, Wroclaw University of Technology, POLAND (links on the left).
	</div>
</fieldset>
{% endblock %}
