<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
			<title>{% block title %}{{title}}{% endblock %}</title>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			<meta property="og:title" content="Comprec">
                        <meta property="og:description" content="Official website of Comprec.">
			<link href="{% static "css/comprec/stylesheet.css" %}" rel="stylesheet" type="text/css" media="screen">
			<link href="{% static "cookielaw/css/cookielaw.css" %}" rel="stylesheet" type="text/css" media="screen">
	</head>
	<body>
	
	<div id="content">
		<div id="links">
			<p>
				<a href="http://www.portal.pwr.edu.pl/index,242.dhtml" target="_blank">
					<img id="pwr_logo" src="{% static "pwr_logo.png" %}" alt="PWr logo">
				</a>
			</p>
			<br>
			<p>
				<a href="http://www.wppt.pwr.edu.pl" target="_blank">
				 	<b>Faculty of Fundamental Problems of Technology</b>
				 </a>
			</p>
			<br>
			<p>
				<a href="http://www.ibp.pwr.edu.pl/" target="_blank">
				 	<b>Department of Biomedical Engineering</b>
				 </a>
			</p>
			<br>
			<p>
				<a href="http://www.kotulska-lab.pwr.wroc.pl" target="_blank">
				 	<b>Group of Bioinformatics and Biophysics of Nanopores</b>
				 </a>
			</p>
		</div>
		
		<div id="wrap">
			{% load cookielaw_tags %}
			{% cookielaw_banner %}
			<p>
				<a href="/">
					<img id="logo" src="{% static "comprec/comprec_logo.png" %}" alt="Comprec logo">
				</a>
			</p>
			
			<div id="panel">
				<ul>
					
					<li>
						<a href="/"><p {% if title == "Home" %}style="color:#FFDE7C;"{% endif %}><b>Home</b></p></a>
					</li>
					<li>
						<p style="color:#3f3f9d;font-size:120%;"><b>Services</b></p>
					</li>
					<li>
						<a href="/c2sInput/"><p {% if title == "C2S input" %}style="color:#FFDE7C;"{% endif %}><b>C2Sv2.0</b></p></a>
					</li>
					<li>
						<a href="/fishInput/"><p {% if title == "FISH input" or title == "FISH result" %}style="color:#FFDE7C;"{% endif %}><b>FiSH Amyloid</b></p></a>
					</li>
					<li>
						<a href="/amyloadAbout/"><p {% if title == "AmyLoad about" %}style="color:#FFDE7C;"{% endif %}><b>AmyLoad</b></p></a>
					</li>
					<!--Pelc-->
					<li>
						<a href="/fpFilterInput/"><p {% if title == "FP Filter Input" %}style="color:#FFDE7C;"{% endif %}><b>FP Filter</b></p></a>
					</li>
					<!--Pelc-->
					<li>
						<p style="color:#3f3f9d;font-size:120%;"><b>Downloads</b></p>
					</li>
					<li>
						<a href="/c2s/"><p {% if title == "C2S - Contacts-to-Structure" %}style="color:#FFDE7C;"{% endif %}><b>C2Sv1.0</b></p></a>
					</li>
					<li>
						<a href="/fishAbout/"><p {% if title == "FISH about" %}style="color:#FFDE7C;"{% endif %}><b>FiSH Amyloid</b></p></a>
					</li>
					<li>
						<a href="/pco/"><p {% if title == "PCO - Protein Contacts Ontology" %}style="color:#FFDE7C;"{% endif %}><b>PCO</b></p></a>
					</li>
				</ul>
			</div>
			<div id="results">
				{% block results %}{% endblock %}
			</div>
			<div id="author">
				&copy; 2014 Powered by Paweł P. Woźniak<br>
				administrative contact: <a href="mailto:pawel.p.wozniak@pwr.edu.pl">pawel.p.wozniak@pwr.edu.pl</a>
			</div>
		</div>
	</div>
	<script src="{% static 'js/amyload.js' %}"></script>
	<script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>
	<script>
  		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  		ga('create', 'UA-63513331-1', 'auto');
  		ga('send', 'pageview');
	</script>

	{% block filters-scripts %}{% endblock %}
	</body>
</html>
