<div id="CookielawBanner">
	<div class="container">
		<p style="font-size:2em"><b>Cookies disclaimer</b></p>
		<br>
		<p style="text-align:justify;">This website saves small pieces of text information (cookies) on your device in order to deliver better content and for statistical purposes. Only essential cookies are stored. You can disable the usage of cookies by changing the settings of your browser. By browsing our website without changing the browser settings you grant us permission to store that information on your device.</p>
		<div style="text-align:right;">
			<a class="btn btn-primary pull-right" href="javascript:Cookielaw.createCookielawCookie();"><p style="font-size:20px">I agree</p></a>
		</div>
	</div>
</div>
