{% extends "amyload/index.html" %}

{% block title %}{{title}}{% endblock %}

{% block results %}
<fieldset id="user_fieldset">
<p>Your confirmation link has expired. Please try to register again.</p>
</fieldset>
{% endblock %}
