{% extends "amyload/index.html" %}

{% block title %}{{title}}{% endblock %}

{% block results %}
<fieldset id="user_fieldset">
<p>You have been successfully registered and now you can log in.</p>
</fieldset>
{% endblock %}
