{% extends "amyload/index.html" %}

{% block title %}Password reset successful{% endblock %}

{% block results %}
<fieldset id="user_fieldset">
<p>The e-mail with instructions for setting your password was sent on the e-mail address you submitted if the e-mail is in our database and your account is not disabled. You should be receiving it shortly.</p>
</fieldset>
{% endblock %}
