{% extends "amyload/index.html" %}

{% block title %}Password reset{% endblock %}

{% block results %}
	{% if not user.is_authenticated %}
	<fieldset id="user_fieldset">
	<p>Please specify your email address to receive instructions for resetting it. The e-mail must be the one you have chosen during the registration process.</p>

	<form action="#" method="post">
		<div style="display:none">
			<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
		</div>
		 {{ form.email.errors }}
		<p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset password" /></p>
	</form>
	</fieldset>
	{% endif %}
{% endblock %}
