{% extends "amyload/index.html" %}

{% block title %}Password reset complete{% endblock %}

{% block results %}
<fieldset id="user_fieldset">
<p>Your password has been set. You may go ahead and log in now.</p>
</fieldset>
{% endblock %}
