{% extends "amyload/index.html" %}

{% block title %}{{title}}{% endblock %}

{% block results %}
<fieldset id="user_fieldset">
<p>Your registration process is acomplished. We've sent you the e-mail with confirmation link. Please check your e-mail.</p>
<p>You should be receiving it shortly.</p>
</fieldset>
{% endblock %}
