{% extends 'amyload/index.html' %}
{% block title %}{{title}}{% endblock %}
{% block results %}            
<form class="form-signup" action="/amyload/register/" method="post">
	{% csrf_token %}
	<fieldset id="user_fieldset">
	<b>Please input all the data:</b> 
	<br>
	<table>
		<tr><td colspan="2"><span style="color:red">{{form.username.errors}}</span></td></tr>
		<tr>
			<td>{% if form.username.errors %}<span style="color:red">{{form.username.label}}:*</span>{% else %}{{form.username.label}}:*{% endif %}</td><td>{{ form.username }}</td>
		</tr>
		<tr><td colspan="2"><span style="color:red">{{form.first_name.errors}}</span></td></tr>
		<tr>
			<td>{% if form.first_name.errors %}<span style="color:red">{{ form.first_name.label }}:*</span>{% else %}{{ form.first_name.label }}:*{% endif %}</td><td>{{ form.first_name }}</td>
		</tr>
		<tr><td colspan="2"><span style="color:red">{{form.last_name.errors}}</span></td></tr>
		<tr>
			<td>{% if form.last_name.errors %}<span style="color:red">{{ form.last_name.label }}:*</span>{% else %}{{ form.last_name.label }}:*{% endif %}</td><td>{{ form.last_name }}</td>
		</tr>
		<tr>
			<td>{% if 0 %}<span style="color:red">{{ form.affiliation.label }}:</span>{% else %}{{ form.affiliation.label }}:{% endif %}</td><td>{{ form.affiliation }}</td>
		</tr>
		<tr><td colspan="2"><span style="color:red">{{form.email.errors}}</span></td></tr>
		<tr>
			<td>{% if form.email.errors %}<span style="color:red">{{ form.email.label }}:*</span>{% else %}{{ form.email.label }}:*{% endif %}</td><td>{{ form.email }}</td>
		</tr>
		<tr><td colspan="2"><span style="color:red">{{form.password1.errors}}</span></td></tr>
		<tr>
			<td>{% if form.password1.errors %}<span style="color:red">{{ form.password1.label }}:*</span>{% else %}{{ form.password1.label }}:*{% endif %}</td><td>{{ form.password1 }}</td>
		</tr>
		<tr>
			<td>{% if form.password2.errors %}<span style="color:red">{{ form.password2.label }}:*</span>{% else %}{{ form.password2.label }}:*{% endif %}</td><td>{{ form.password2 }}</td>
		</tr>
		<tr>
			<td>{% if 0 %}<span style="color:red">{{ form.comment.label }}:</span>{% else %}{{ form.comment.label }}:{% endif %}</td><td>{{ form.comment }}</td>
		</tr>
	</table>
	<br>
	*These information are obligatory.
	<br>
	<input type="submit" name="submit" class="btn btn-primary" value="Create account">
	</fieldset>
</form>

{% endblock %}
