
body,
html {
	background-color: #E8E8FC;
	font-family: sans-serif;
	color: #6F6FC5;
	font: 15px/22.5px "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

#content {
	width: 1300px;
	margin: auto;
}

#links {
	float: left;
	font-size: 12px;
	width: 95px;
	height: 700px;
	border-right: solid #6F6FC5;
	line-height: 110%;
}

#links p a {
	color: #6F6FC5;
	text-decoration: none;
}

#links p:hover,
#links p.current {
	color: #fff;	
	text-shadow: 0px 0px 5px rgba(1, 1, 1, 0.7);
}

#links #pwr_logo {
	height: 125px;
	width: auto;
}

#wrap {
	float: right;
	width: 1200px;
}

#logo {
	display: block;
	margin: auto;
}

#panel {
	float:left;
	width:122px;
	height: 500px;
	background-color: #9898E0;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #E8E8FC;
}

#panel ul {
	margin-left: -25px;
	margin-right: 10px;
	list-style-type: none;
}

#panel ul a {
	color: #FFF9E6;
	text-decoration: none;
}

#panel ul a:hover,
#panel ul.current a {
        text-shadow: 0px 0px 5px rgba(1, 1, 1, 0.7);
}

#results {
	float:right;
	width:1050px;
	min-height: 500px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	background-color: #C1C1F2;
}

#author{
	clear:both;
	padding-top: 10px;
	text-align: center;	
}

#author a {
	text-decoration: none;
}

.form_fieldset {
	border: 7px solid #FFF0C2;
	padding: 5px;
	margin: auto;
	background-color: #FFF9E6;
}

.form_fieldset tr td {
	border: 1px solid rgba(0, 0, 0, 0.18);
}

#analysis_fieldset {
	border: 7px solid #FFF0C2;
	padding: 5px;
	width: 1025px;
	margin: auto;
	background-color: #FFF9E6;
}

#analysis_fieldset ul li{
	list-style-type: none;
	padding:0;
	margin: -10px 10px 27px -35px;
}

#analysis_fieldset a {
	text-decoration:none;
}

#analysis_fieldset li:last-child{
	list-style-type: none;
	padding:0;
	margin: -5px 10px -5px -35px;
}

.tableTitle {
	background-color: #FFF0C2;
	box-shadow: 0 0 10px rgba(1, 1, 1, 0.7);
}

#check {
	text-align: center;
	vertical-align: middle;
}

.scrollable {
	overflow: auto;
	width: 1025px;
	height: 420px
}

table.fixed { table-layout:fixed; word-break: break-all;}
table.fixed td { overflow: hidden; }

#id_bywhatsort {
	width:100px;
}

#login {
	color: #6F6FC5;
	text-align:center;
	background-color: #C1C1F2;
}

#login a {
	color: #6F6FC5;
	text-decoration: none;		
}

.login_input {
	width:90%;
}

#insert_fieldset, #file_fieldset {
	border: 7px solid #FFF0C2;
	padding: 5px;
	width: 1025px;
	margin: auto;
	background-color: #FFF9E6;
}

#user_fieldset {
	border: 8px solid #FFF0C2;
	padding: 5px;
	width: 1025px;
	margin: auto;
	background-color: #FFF9E6;
}

#added_fieldset {
	border: 7px solid #FFF0C2;
	padding: 5px;
	width: 1025px;
	margin: auto;
	background-color: #FFF9E6;
}

#added_fieldset tr td {
	border: 1px solid rgba(0, 0, 0, 0.18);
}

#userPanel {
	width: 600px;
	height: 40px;
	font-size: 110%;
	background-color: #FFF0C2;
	padding-bottom: 5px;
}

#userPanel ul {
	margin-top: 10px;
	margin-bottom: 15px;
	list-style-type: none;
}

#userPanel ul a {
	color: #9898E0;
	text-decoration: none;
}

#userPanel ul a:hover,
#userPanel ul.current a {
	color: #fff;	
	text-shadow: 0px 0px 5px rgba(1, 1, 1, 0.7);
}

#input_form_pic, #input_xml_pic, #django_logo, #mysql_logo, #biopython_logo, #lxml_logo {
	width: 80%;
}

#comprec_link {
	font-size: 15px;
}

#methods{
	margin-right:20px;
	text-align:justify;
}

#methods ul a {
	text-decoration:none;
}

[data-tip] {
	position:relative;

}
[data-tip]:before {
	content:'';
	/* hides the tooltip when not hovered */
	display:none;
	content:'';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #9898E0;	
	position:absolute;
	top:30px;
	left:35px;
	z-index:8;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
}
[data-tip]:after {
	display:none;
	content:attr(data-tip);
	position:absolute;
	top:35px;
	left:0px;
	padding:5px 8px;
	background:#9898E0;
	color:#fff;
	z-index:9;
	font-size: 1em;
	height:18px;
	line-height:18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space:nowrap;
	word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
	display:block;
}

#clearsearch { overflow: hidden; }
#clearsearch input { float: left; }

#bookmark{
	background-color:#FFF9E6;
	padding:7px;
	padding-right:14px;
	padding-left:14px;
	border-radius:20px;
}
