
body,
html {
	background-color: #E8E8FC;
	font-family: sans-serif;
	color: #6F6FC5;
	font: 15px/22.5px "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

#content {
	width: 1300px;
	margin: auto;
}

#links {
	float: left;
	font-size: 12px;
	width: 95px;
	height: 700px;
	border-right: solid #6F6FC5;
	line-height: 110%;
}

#links p a {
	color: #6F6FC5;
	text-decoration: none;
}

#links p:hover,
#links p.current {
	color: #fff;	
	text-shadow: 0px 0px 5px rgba(1, 1, 1, 0.7);
}

#links #pwr_logo {
	height: 125px;
	width: auto;
}

#wrap {
	float: right;
	width: 1200px;
}

#logo {
	display: block;
	margin: auto;
}

#panel {
	float:left;
	width:122px;
	height: 500px;
	background-color: #9898E0;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #E8E8FC;
}

#panel ul {
	margin-left: -25px;
	margin-right: 10px;
	list-style-type: none;
}

#panel ul a {
	color: #FFF9E6;
	text-decoration: none;
}

#panel ul a:hover,
#panel ul.current a {
        text-shadow: 0px 0px 5px rgba(1, 1, 1, 0.7);
}

#results {
	float:right;
	width:1050px;
	
	min-height: 500px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	background-color: #C1C1F2;
}

#author{
	clear:both;
	padding-top: 10px;
	text-align: center;	
}

#author a {
	text-decoration: none;
}

table.fixed { table-layout:fixed; word-break: break-all;}
table.fixed td { overflow: hidden; }

#user_fieldset {
	border: 8px solid #FFF0C2;
	padding: 5px;
	width: 1025px;
	margin: auto;
	background-color: #FFF9E6;
}

#fish_logo1{
	width: 40%;
	border: 8px solid #FFF0C2;
}

#fish_logo2{
	width: 90%;
	border: 8px solid #FFF0C2;
}

##Upper-level-PCO {
	width: 30%;
}

#fish_plot {
	width: 40%;
}

#mail a {
	text-decoration: none;
}

#id_fishSequence{
	width: 1000px;
	height: 100px;
}

#resultTable table tr td{
	border: 1px solid #6F6FC5;
}